$red: #851d18;
$loveContrastColor: #cff;

@media (max-width: $screen-phone) {
    .love-container {
        margin-top: -25px !important;
        margin-bottom: -25px !important;

        #pictures {
            display: block !important;

            img {
                margin-bottom: 25px !important;
            }
        }

        #potentialDealbreakers .potential-dealbreakers {
            display: block !important;

            div {
                margin-right: 0 !important;
            }
        }
    }
}

.love-container {
    font-family: serif;
    margin: -50px 0;
    background-color: $red;
    color: $loveContrastColor;
    padding: 50px;
    line-height: 1.5;

    a, a:-webkit-any-link {
        color: $loveContrastColor;
        text-decoration: underline;
        background-color: transparent;

        &:hover {
            color: $red;
            background-color: $loveContrastColor;
        }
    }

    h1, h2, h3 {
        font-weight: 600;
        font-family: sans-serif;
    }

    h1 span,
    h2 span,
    h3 span {
        font-weight: 400;
        font-family: serif;
    }

    #name {
        span a, span a:-webkit-any-link {
            color: $loveContrastColor;
            text-decoration: underline;

            &:hover {
                color: $red;
                background-color: $loveContrastColor;
            }
        }
    }

    #pictures {
        display: flex;

        img {
            margin: 0 25px;
            height: 250px;
        }
    }

    .abbreviation,
     {
        border: 1px solid $loveContrastColor;
        padding: 5px;
        margin: 5px;
        width: max-content;
        cursor: pointer;
        max-width: 75vw;

        &:hover {
            background-color: $loveContrastColor;
            color: $red;

            a {
                color: $red;
            }
        }
    }

    [data-expanded=true] {
        border: double;
    }

    #potentialDealbreakers {
        margin-top: 25px;
    }

    #potentialDealbreakers .potential-dealbreakers {
        display: flex;
        flex-wrap: wrap;

        h2 {
            border: 1px solid $loveContrastColor;
            // text-decoration: underline;
            padding: 5px 15px;
            // text-align: center;
            margin: auto;
            width: max-content;
        }

        div {
            margin-right: 25px;
            flex: 1 0 20%;
            text-align: center;
        }
    }

    #potentialDealbreakers .potential-dealbreakers p {
        // border: double;
        padding: 5px;
    }

    #bestWayToContact {
        margin-top: 50px;
    }
}
