@use "variables" as *; // variables MUST go first
@use "mobile";

@use "blog";
@use "button-selector";
@use "grid";
@use "icons";
@use "love";
@use "menu";
@use "projects";
@use "tables";

ul {
    margin-before: 0;
    margin-after: 0;
    margin-start: 0;
    margin-end: 0;
    padding-start: 0;
}

a, a:any-link {
    background-color: $groundColor;
    color: $figureColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.has-img {
    background: none;
}

body {
    background-color: $groundColor;
    margin: 0 auto 40px auto;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "Arial Light", sans-serif;
    font-weight: 300;
    color: $figureColor;
    font-size: 1.25em;
}

h1, h2, h3, h6 {
    font-weight: inherit;
    margin: 0;
}

// override Chrome defaults
p {
  margin-block-start: 0;
}

p:last-child {
  margin-block-end: 0;
}

.text-center {
    text-align: center;
}

.middle {
    margin: 10px auto;
}

.hidden {
    display: none;
}

.content-container {
    color: $figureColor;
    padding: 20px 40px;
    background-color: $white;
    box-shadow: 2px 2px 1px $figureColor;
    margin: 25px auto;
    width: 50%;

    // Prevent vertical margin collapse with flexbox!
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    body {
        margin: 0 auto;
    }

    .content-container {
        width: inherit;
    }
}
