<div class="visible-phone mobile-nav-container">
  <ul class="mobile-nav love-menu">
    <li class="mobile-nav-item"><a href="/love.html#name">About Me</a></li>
    <li class="mobile-nav-item"><a href="/love.html#desiredTraitsInAPartner">About You</a></li>
    <li class="mobile-nav-item"><a href="/love.html#dealbreakers">Dealbreakers</a></li>
    <li class="mobile-nav-item"><a href="/love.html#bestWayToContact">Contact</a></li>
  </ul>
</div>

<div class="hidden-phone">
  <div class="nav love-menu">
    <a id="fullname" href="/">
      <span id="firstname">&nbsp;</span>
      <span id="lastname"></span>
    </a>

    <ul class="nav-pills">
      <a href="/love.html#name">
        <li>About Me</li>
      </a>

      <a href="/love.html#desiredTraitsInAPartner">
        <li>About You</li>
      </a>

      <a href="/love.html#dealbreakers">
        <li>Dealbreakers</li>
      </a>

      <a href="/love.html#bestWayToContact">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</div>
