<div class="button-selector">
  <h1 class="text-center" id="projects">
    Projects
  </h1>

  <ul class="button-selector-pills">
    <a href="javascript:void(0)" onclick=showProjects('all')>
      <li>All</li>
    </a>

    <a href="javascript:void(0)" onclick=showProjects('frontend')>
      <li>Frontend</li>
    </a>

    <a href="javascript:void(0)" onclick=showProjects('education')>
      <li>Education</li>
    </a>

    <a href="javascript:void(0)" onclick=showProjects('other')>
      <li>Other</li>
    </a>
  </ul>
</div>

<div class="even-columns-3">
  <div class="project-card" onclick="window.open('no-shave.html')" data-attr-type="other">
    <div class="project-card-content">
      <img src="https://no-shave.org/img/nsn_full_stacked.png" class="project-card-image">

      <div class="project-card-text">
        <h2 class="project-card-text-name">
          No Shave November 2016 Fundraiser
        </h2>
        <h3 class="project-card-text-description">
          I decided to raise money for cancer awareness by taking a selfie of myself every day, updating my No Shave November campaign page, and sharing the daily updated photo on Facebook. I also spoke to my employer and he agreed that the company would match the funds I raised. After 30 days, <strong>I raised $630</strong> for cancer awareness.
        </h3>
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('http://empathy-cards.herokuapp.com')"  data-attr-type="frontend">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Empathy Cards
        </h2>
        <h3 class="project-card-text-description">
          I turned a deck of one instruction card, 47 feeling cards, and 48 need cards into an online tool for others to use in order to better understand their emotions and inner life.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/ember-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/dabble-flashcards')"  data-attr-type="frontend">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Dabble Flashcards
        </h2>
        <h3 class="project-card-text-description">
          Dabble is a flashcards app I created for myself after working with <a href="https://www.ankiapp.com/" target="_blank" rel="noopener">AnkiApp</a>, a Mac desktop-based app that allows a user to upload CSV files.
        </h3>
      </div>
    </div>

    <p class="project-card-tools-heading">Tools used:</p>
    <div class="project-card-tools-logos">
      <img src="src/static/images/ember-logo.png" class="project-card-image">
    </div>
  </div>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/intro-to-csv')" data-attr-type="education">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Intro to CSV Operations in Ruby
        </h2>
        <h3 class="project-card-text-description">
          This is a lesson plan built for the Turing School of Software and Design. It also covers memory management, reviewing documentation, and edge cases involved in parsing CSV data.
          <br><br>
          This lesson is targeted toward novice students who know nothing about data processing.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/ruby-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('src/static/files/projects/e-learning/project-report.pdf')" data-attr-type="education">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Performing CRUD Operations on the DOM Using JavaScript
        </h2>
        <h3 class="project-card-text-description">
          This is an Open Learning Initiative (OLI) module made for the Programmable User Interfaces course at Carnegie Mellon University. You can view the 15-minute video presentation below, which explains my motivation for creating this course, challenges I encountered, and feedback received from students during and after the course was designed.
          <br><br>
          <iframe width="375" height="210" src="https://www.youtube.com/embed/DUrZiSUCp1U" frameborder="0" allowfullscreen></iframe>
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/oli-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/panhandle')" data-attr-type="other">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Panhandle
        </h2>
        <h3 class="project-card-text-description">
          Panhandle is a web microframework that allows developers to build websites using <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub Pages</a> and <a href="http://handlebarsjs.com/" target="_blank" rel="noopener">handlebars templates</a> using an automatically refreshing local dev server.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/hbs-logo.png" class="project-card-image">
        <img src="src/static/images/bash-logo.png" class="project-card-image">
        <img src="src/static/images/npm-logo.png" class="project-card-image">
        <img src="src/static/images/nodejs-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/ixdo-digital-sketch')" data-attr-type="other">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Dashboard Design
        </h2>
        <h3 class="project-card-text-description">
          During this project, I took upon the role of a User Experience (UX) Designer to create a digital dashboard for a university Introduction to Game Design course. Most of my peers used tools like PowerPoint, Figma, or Adobe Sketch to create their designs, but I used Ember.js to more readily use the data provided in the dashboard as a design constraint. In this repository are code, demos for each view I created, and a Process Book detailing my iterations and thought process.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/ember-logo.png" class="project-card-image">
      </div>
    </div>
  </div>
</div>

<!--
METALS projects - eLearning and EGIA -->
