<h1 class="text-center" id="projects">
  Projects
</h1>

<div class="even-columns-2">
  <a href="no-shave.html">
    <div class="project-card">
      <div class="project-card-content">
        <img src="https://no-shave.org/img/nsn_full_stacked.png" class="project-card-image">

        <div class="project-card-text">
          <h2 class="project-card-text-name">
            No Shave November 2016 Fundraiser
          </h2>
          <h3 class="project-card-text-description">
            I decided to raise money for cancer awareness by taking a selfie of myself every day, updating my No Shave November campaign page, and sharing the daily updated photo on Facebook. I also spoke to my employer and he agreed that the company would match the funds I raised. After 30 days, <strong>I raised $630</strong> for cancer awareness.
          </h3>
        </div>
      </div>
    </div>
  </a>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/panhandle')">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Panhandle
        </h2>
        <h3 class="project-card-text-description">
          Panhandle is a web microframework that allows developers to build websites using <a href="https://pages.github.com/" target="_blank" rel="noopener">Github Pages</a> and <a href="http://handlebarsjs.com/" target="_blank" rel="noopener">handlebars templates</a> using an automatically refreshing local dev server.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/hbs-logo.png" class="project-card-image">
        <img src="src/static/images/bash-logo.png" class="project-card-image">
        <img src="src/static/images/npm-logo.png" class="project-card-image">
        <img src="src/static/images/nodejs-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('http://empathy-cards.herokuapp.com')">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Empathy Cards
        </h2>
        <h3 class="project-card-text-description">
          I turned a deck of one instruction card, 47 feeling cards, and 48 need cards into an online tool for others to use in order to better understand their emotions and inner life.
        </h3>
      </div>

      <p class="project-card-tools-heading">Tools used:</p>
      <div class="project-card-tools-logos">
        <img src="src/static/images/ember-logo.png" class="project-card-image">
      </div>
    </div>
  </div>

  <div class="project-card" onclick="window.open('https://github.com/neilthawani/dabble-flashcards')">
    <div class="project-card-content">
      <div class="project-card-text">
        <h2 class="project-card-text-name">
          Dabble Flashcards
        </h2>
        <h3 class="project-card-text-description">
          Dabble is a flashcards app I created for myself after working with <a href="https://www.ankiapp.com/" target="_blank" rel="noopener">AnkiApp</a>, a Mac desktop-based app that allows a user to upload CSV files.
        </h3>
      </div>
    </div>

    <p class="project-card-tools-heading">Tools used:</p>
    <div class="project-card-tools-logos">
      <img src="src/static/images/ember-logo.png" class="project-card-image">
    </div>
  </div>
</div>
