{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">A night of vision planning and thinking about graduate school led to this post.</h1>

    <article class="blog-post-content">
        <p>I am interested in the intersection between power and behavioral change in social networks and how people make decisions - primarily decisions that generate financial gain in companies or other organizations - that impact the overall stability of the network, i.e., the system's population (or observed attributes) remain constant or grow. I believe that I can use computational modeling, like the military does for battles, to estimate the outcome of these actions undertaken.</p>
        <p>From an academic perspective, I imagine an example thesis question may be: "How do social movements change the socioeconomic demographics of areas within a network?" A literature review for this thesis statement could contain information about how the abolition of slavery led to the Industrial Age or how the fight for LGBT rights in the United States generates a greater discourse on the equality of other relationships (like men/women) and what equality should be defined as (e.g., second-wave feminism vs. third-wave feminism).</p>
        <p>A professor at Stanford University, Dr. B.J. Fogg, created a curriculum entitled "Behavior Design." He states that motivation, ability, and behavioral triggers spark behavioral change in our habits. It's a logical statement, and at least partially relevant to what I'm interested in, but not necessarily my goal. I feel that I have dived deep enough into the discipline of self-improvement to understand the mechanisms behind Behavior Design. I'm more interested in systems of people rather than individuals, as Dr. Fogg appears to study.</p>
        <p>I am not sure how, but I think it would be neat to apply gamification principles to make change - financial gain or other positive impact - fun for those participating in the system. Examples include piano stairs in order to persuade people to not go on the escalator or dancing red traffic lights to deter pedestrians from jaywalking.</p>
        <p>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.youtube.com/embed/2lXh2n0aPyw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.youtube.com/embed/SB_0vRnkeOk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </p>
        <p>My background is in psychology and computational neuroscience, fields that I was very passionate about before I lost interest in becoming a college professor. I am currently a data visualization and front-end Software Engineer at an early-stage social media analytics company who enjoys building systems to recruit and develop employees. I used to be a VP of HR and conference organizer/trainer at a non-profit called AIESEC, and it is one of my most favorite things that I have done. I understand that financial modeling is an avenue that is quite self-evident for me to take, given the presentation of my interests, but I want to do something better than generate boat-loads of cash for a hedge fund. I don't know what that thing could be, but I know that eventually, I want to be a VC.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">vision planning</span></p>

    <p class="blog-post-created-at">Published August 04, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}