{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">A Theory of Talent Management - Forming a Board of Advisers</h1>

    <article class="blog-post-content">
        <p><em><u>Note:</em></u> The following essay has acronyms that non-AIESECers may not know:</p>
        <ul>
            <li>EB - Executive Board</li>
            <li>LC - Local Committee</li>
            <li>LCP - Local Committee President</li>
            <li>TM - Talent Management</li>
            <li>VP - Vice President</li>
        </ul>
        <p>Recently, an AIESEC Mizzou LC VP asked in our alumni group on Facebook if we wanted to be added back to the AIESEC Mizzou active member group. Responses to the post varied: "Why?" "Yes." and "I want to know what's going on." This point will be addressed later in this essay. First: some back story on myself and my perspective as an alumnus of the LC Mizzou.</p>
        <p>I spent way too much time in college. I earned two Bachelors degrees and two minors. I was overeducated and under-motivated, so I appropriated my university experience to AIESEC. I worked in a research lab, and in that research lab I did sales calls at 8 am in the morning one day. I was up at 4 am on a Saturday morning finishing new member orientation seminar (or Newbie Induction) slides. AIESEC gave me a sense of purpose and TM lit a fire in my heart that I didn't know existed. And that desire to develop people and organizations persists to this day, so I feel like I owe AIESEC a lot because without it, I would not have confidence in my ability to motivate people to do good work.</p>
        <p>Don't get me wrong - I made many mistakes as a VP TM. Like yelling at a team member for not doing his/her work on the mentorship committee. I don't know if that person has forgiven me. AIESEC was meant to be fun, but I was so frustrated and worried that the things I wanted to build within the LC would not be built. I didn't know that that person was experiencing some challenges outside the LC - that I asked about only days after losing control of my emotions. After I spoke calmly, he/she delivered upon what I asked. I am grateful for that learning experience because a similar situation occurred at work and I managed to handle the situation with more grace and when stakes were higher. I wonder if AIESEC Mizzou has a semblance of a mentorship program today.</p>
        <p>When I was in my second year of AIESEC in early 2012, a girl who had graduated from Mizzou three years before came to visit. She said when she was in the LC, there were only nine people, and they didn't even track attendance. That day she was there, there were 25 people in the room. She didn't know that we would double member numbers the following semester after a stellar recruitment. That recruitment was mine, and I headed multiple committees, worked with many good people, and we were cited for a noise violation the first day those new members came to the LC because our roll call music was so loud. It was great.</p>
        <p>Halfway through 2012, half of the LC's EB had stepped down at the end of the Spring semester and I became VP TM. We had two and a half days of bonding and vision planning in a conference room with large pieces of paper (you know the ones I'm talking about - the ones you keep on an easel). I understand that in the middle of the summer or at the end of a semester, people have exams, vacations, and/or are working their jobs. However, I was only taking summer courses at the time, and AIESEC was a respite from the grind of studying. At the beginning of that summer, we planned and thereafter had weekly EB meetings to plan more. </p>
        <p>We knew how to plan because our LCP had been VP TM. Our VP OGX had been VP COMM. I had been on the National Support Team of AIESEC US as a TM coach. Our VP COMM was a Comm. major. We did not have a Board of Advisers to guide us, but we had <em>some</em> foundational experience. The value of a Board of Advisers is that when the LC is in trouble because it doesn't have VPs with prior experience, it can reach out to that Board before being put in jeopardy of, in the worst-case scenario, being disbanded by the national plenary for not performing the two core functions of an LC: exchange and its facilitator, leadership through personal and professional development on one of an LC's functional teams: ICX (BD/AD), OGX, TM, FIN, and COMM.</p>
        <p>I will now return to my original point. From what I understand, from an extremely reductive perspective, we were removed from the AIESEC Mizzou group because new members in the LC did not feel comfortable engaging with strangers online. I assume this was before any of them had attended any conferences - because at regional and national conferences, you get to understand and love the global tribe that is AIESEC. A lack of conference attendance stems from a lack of onboarding - you know, TM things. LC meetings, dancing, leadership development, coordinating allocation and education on teams by means of an Induction seminar and then a Member Education Cycle before RoKS. (Did you know that the Regional Chairs of AIESEC US determine the dates of each RoKS together?) It frustrates me that we were removed from the LC's active member Facebook group because the EB of AIESEC Mizzou at the time did not make an effort to explain to these new members who we were and what we did for the LC when we were there. Our stories were not told - which sounds overly dramatic until you realize that storytelling is a key component in succession planning.</p>
        <p>I believe that communication is a core component of any successful relationship. If AIESEC Mizzou wishes to form a Board of Advisers because they want to tap into a pool of resources that can generate more leadership and exchange by tapping our professional networks, then I would be happy to join an initiative to do so. However, I am in the "why?" camp of being added back to the AIESEC Mizzou active member Facebook group. If I am not having an impact, then I do not want to accrue cognitive debt by simply thinking about what is going on in the LC's Facebook group. If the LC does not (or does not <em>want</em> to) become better at succession planning by allocating time to pass its stories on to the next generation of AIESECers, then I will be too busy to help because I will be changing the world by applying the things I learned in AIESEC.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">talent management</span><span class="blog-post-tag">aiesec</span></p>

    <p class="blog-post-created-at">Published September 18, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}