{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Added Currently Reading Tab</h1>

    <article class="blog-post-content">
        <p>Tonight I added a "Currently Reading" panel above the tags list.</p>
        <p>As an avid developer, I find myself watching many YouTube videos and <a href="http://railscasts.com/" target="_blank">Railscasts</a>, reading many StackOverflow articles, and rarely having the time to delve into a good book.</p>
        <p>As part of an effort to continue my education outside of the <a href="/tags/14" target="_blank">virtual classroom</a>, I added this tab in an effort to share and track my progress.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">change log</span></p>

    <p class="blog-post-created-at">Published February 09, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}