{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Black Friday</h1>

    <article class="blog-post-content">
        <p>On Black Friday this year, I went to the mall to buy some pants with my parents. We stood at the check-out counter of a department store and waited while a clearly overburdened network took its time to process our credit card transaction. While we waited, I noticed something. </p>
        <p>I addressed the cashier: </p>
        <blockquote>
            <p>"Someone left a half-full can of soda on the edge of the counter here."</p>
        </blockquote>
        <p>Separating the ledge where some previous customer had placed the can and the computer processing our transaction was a divider about five inches high. The cashier took the can from me and placed it on the other side of the divider - closer to a bundle of wires and a power strip.</p>
        <blockquote>
            <p>"That's going to spill," I said.</p>
            <p>"I'll deal with it after this," he responded.</p>
        </blockquote>
        <p>The credit card transaction didn't go through, and the cashier ran it again. The first swipe seemed to be a <a href="http://www.speedtest.net">ping timeout</a>, but it went through on the second try. </p>
        <p>Just as the cashier was handing us the receipt, another store employee plopped down a pile of clothes on the counter - right on top of the half-full can of soda.</p>
        <p>In that moment, I yelled,</p>
        <blockquote>
            <p>"The can!"</p>
        </blockquote>
        <p>Simultaneously I processed the potential joy I would've felt by allowing chaos to ensue, as, in my imagination, sticky high fructose water poured along the counter and potentially into the computer circuits of this enterprise.</p>
        <blockquote>
            <p>"I'll put it here," </p>
        </blockquote>
        <p>our unwitting cashier said, moving the can even closer again toward the power strip. The employee who had laid the clothes down responded, </p>
        <blockquote>
            <p>"I'll just throw it away,"</p>
        </blockquote>
        <p>took the can, and walked away. I turned to my parents and said, </p>
        <blockquote>
            <p>"Something within me realized I would've taken great joy in seeing such chaos occur on this day, but something within me also decided to not let it happen."</p>
        </blockquote>
        <p>And we took our bags, left the store, and continued on in search of discounted track pants.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">commerce</span></p>

    <p class="blog-post-created-at">Published about 2 years ago on December 03, 2017</p>

    {{> blog-post-comment}}

</div>

{{/base}}