{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Cost Function</h1>

    <article class="blog-post-content">
        <p><strong>cost function</strong> - measures the accuracy of our hypothesis function h<sub>&theta;</sub>(x)</p>
        <p><img src="http://i.imgur.com/CCm4CWg.png" alt="cost function" /></p>
        <p>This function is also called the <strong>squared error cost function</strong> or <strong>mean squared error</strong>.</p>
        <p>We want h<sub>&theta;</sub>(x) - y to be small.</p>
        <p>We minimize the cost function J(&theta;<sub>0</sub>&theta;<sub>1</sub>) over &theta;<sub>0</sub>&theta;<sub>1</sub>. J(&theta;<sub>0</sub>&theta;<sub>1</sub>) is a parabolic function.
            Minimizing it means finding the value of &theta;<sub>1</sub>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

    <p class="blog-post-created-at">Published about 3 years ago on November 28, 2016</p>

    {{> blog-post-comment}}

</div>

{{/base}}