{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - The Data Scientist's Toolbox - Week 2 - Toolbox Basics</h1>

    <article class="blog-post-content">
        <p><u>
                <h4>Markdown Syntax</h4>
            </u></p>
        <ul>
            <li>## This is a secondary heading.</li>
            <li>### This is a tertiary heading.</li>
            <li>* This is the first item in an unordered list.</li>
            <li>* This is the second item in an unordered list.</li>
            <li>* This is the third item in an unordered list.</li>
        </ul>
        <p>Daring Fireball has an <a href="http://daringfireball.net/projects/markdown" target="_blank">introduction to Markdown on his blog.</a></p>
        <p><u>
                <h4>Installing R Packages</h4>
            </u></p>
        <ul>
            <li>R packages provide a powerful mechanism for extending the functionality of R.</li>
            <li>R packages can be obtained from CRAN or other repositories.</li>
            <li><span class="code">install.packages()</span> can be used to install packages at the Rstudio console</li>
            <li><span class="code">library()</span> loads packages that have been installed so you may access the functionality in the package</li>
        </ul>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">r programming</span><span class="blog-post-tag">markdown</span></p>

    <p class="blog-post-created-at">Published almost 5 years ago on January 14, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}