{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - The Data Scientist's Toolbox - Week 2 - Basic Git Commands</h1>

    <article class="blog-post-content">
        <p><a href="http://blog.osteele.com/posts/2008/05/my-git-workflow/" target="_blank"><img src="http://i.imgur.com/qTePkbH.png" alt="git data transport commands" /></a></p>
        <p><u>Adding</u></p>
        <p>Suppose you add new files to a local repo under version control - you need to let Git know that they need to be tracked</p>
        <ul>
            <li><span class="code">git add .</span> adds all new files</li>
            <li><span class="code">git add -u</span> updates tracking for files that changed names or were deleted</li>
            <li><span class="code">git add -A</span> does both</li>
            <li>You should do this before committing</li>
        </ul>
        <p><u>Committing</u></p>
        <ul>
            <li>You have changes you want to commit as an intermediate version</li>
            <li>You type the command <span class="code">git commit -m "message"</span> where message is a useful description of what you did</li>
            <li>This only updates your local repo, not the remote repo on GitHub</li>
        </ul>
        <p><u>Pushing</u></p>
        <ul>
            <li>You have saved local commits you would like to update on the remote (GitHub)</li>
            <li>You type the command <span class="code">git push</span></li>
        </ul>
        <p><u>Branches</u></p>
        <ul>
            <li>Sometimes you are working on a project with a version being used by many people</li>
            <li>You may not want to edit that version, so you create a branch with the command
                <span class="code">git checkout -b branchname</span>
            </li>
            <li>To see what branch you're on: <span class="code">git branch</span></li>
            <li>To switch back to the master branch: <span class="code">git checkout master</span></li>
        </ul>
        <p><u>Pull requests</u></p>
        <ul>
            <li>If you fork someone's repo or have multiple branches, you will both be working separately</li>
            <li>Sometimes you want to merge in your changes into the other branch/repo</li>
            <li>To do this, you need to send a pull request</li>
            <li>This is a feature of GitHub</li>
        </ul>
        <p>Git documentation can be <a href="http://git-scm.com/doc" target="_blank">found here</a>.</p>
        <p>More GitHub help can be <a href="http://help.github.com" target="_blank">found here</a>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">git</span><span class="blog-post-tag">github</span></p>

    <p class="blog-post-created-at">Published January 14, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}