{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - Johns Hopkins Data Science Track hard and soft dependencies</h1>

    <article class="blog-post-content">
        <p>It's an incredibly difficult task to type notes on complex machine learning algorithms, so I'm resorting to paper. I might scan those sheets and upload them here, but for now, I'm in the middle of the second week of <a href="https://www.coursera.org/course/ml" target="_blank">Andrew Ng's Machine Learning</a> course, and it's going well.</p>
        <p>To get myself back on track with the data science track, I scheduled time during February and March to take multiple courses at a time. However, <a href="http://www.reddit.com/r/datascience/comments/2tp93v/is_anyone_doing_the_hopkins_coursera_data_science/" target="_blank">this Reddit post</a> had a <a href="http://www.reddit.com/r/datascience/comments/2tp93v/is_anyone_doing_the_hopkins_coursera_data_science/co192p5" target="_blank">user</a> mention something about dependencies between the courses. After some digging, I found <a href="https://d396qusza40orc.cloudfront.net/rprog/doc/JHDSS_CourseDependencies.pdf" target="_blank">this pdf document</a>, outlining the "hard" and "soft" dependencies between the courses in the track.</p>
        <p><u>TL;DR:</u> Take the track's courses in the following blocks:</p>
        <p></p>
        </p>
        <table>
            <tr>
                <th>Block 1</th>
                <th>Block 2</th>
                <th>Block 3</th>
            </tr>
            <tr>
                <td>The Data Scientist's Toolbox</td>
                <td>Getting and Cleaning Data</td>
                <td>Regression Models</td>
            </tr>
            <tr>
                <td>R Programming
                <td>Exploratory Data Analysis</td>
                <td>Practical Machine Learning</td>
            </tr>
            <tr>
                <td></td>
                <td>Reproducible Research</td>
                <td>Developing Data Products</td>
            </tr>
            <tr>
                <td></td>
                <td>Statistical Inference</td>
                <td></td>
            </tr>
        </table>
        <p></p>
        </p>
        <p><u>Note:</u> The sheet says of Practical Machine Learning:
            <br />
            <em>This course has hard dependencies on R Programming, The Data Scientist's Toolbox and Regression Models. It has a soft dependency on Exploratory Data Analysis.</em></p>
        <p>However, since I'm currently taking Machine Learning, I imagine Practical Machine Learning won't be too bad. Let's hope I'm right!</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data science</span></p>

    <p class="blog-post-created-at">Published January 28, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}