{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - Getting and Cleaning Data - Week 1 - Raw and Processed Data</h1>

    <article class="blog-post-content">
        <p><u>data</u> - values of qualitative or quantitative variables, belonging to a set of items</p>
        <p><u>set of items</u> - sometimes called the population; the set of objects you are interested in</p>
        <p><u>variables</u> - a measurement or characteristic of an item</p>
        <p><u><strong>Types of Measurements</u></strong></p>
        <p><u>qualitative</u> - country of origin, sex, treatment</p>
        <p><u>quantitative</u> - height, weight, blood pressure</p>
        <p><u>Raw Data</u></p>
        <ul>
            <li>the original source of the data</li>
            <li>often hard to use for data analyses</li>
            <li>data analysis includes processing</li>
            <li>raw data may only need to be processed once</li>
        </ul>
        <p><u>Processed Data</u></p>
        <ul>
            <li>data that is ready for analysis</li>
            <li>processing can include merging, subsetting, transforming, etc.</li>
            <li>there may be standards for processing</li>
            <li>all steps should be recorded</li>
        </ul>
        <p>The goal is to take raw data and turn it into processed data.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">getting and cleaning data</span></p>

    <p class="blog-post-created-at">Published almost 5 years ago on January 13, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}