{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - Reproducible Research - Week 1 - Scripting Your Analysis</h1>

    <article class="blog-post-content">
        <p>Golden Rule of Reproducibility: Script Everything.</p>
        <h4><u>Write everything down.</u></h4>
        <p>This is analogous to a composer creating a symphony. There are standards in music - clefs, notes, chords, instruments - and they write down how everything is done to replicate.</p>
        <p>The main rule in data analysis is to write a script. They are like the musical score for another scientist to replicate your musical analysis.</p>
        <p>knitr and Markdown will help you organize your analyses.</p>
        <p><u>Bottom line:</u> Use the R Studio Script Editor. Write it down. Write a script. Make your work reproducible.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">reproducible research</span></p>

    <p class="blog-post-created-at">Published almost 5 years ago on January 18, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}