{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Coursera - Resuming R Programming</h1>

    <article class="blog-post-content">
        <p>Although it is quite fun to rest on one's laurels in finally deploying my blog (and being hit with waves of tasks to add to my list of todos), I decided to follow through in continuing the <a href="https://www.coursera.org/specialization/jhudatascience/1" target="_blank">Johns Hopkins Data Science track</a>.</p>
        <p>Today I resumed R Programming, which I had started last month but dropped due to time pressures.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

    <p class="blog-post-created-at">Published February 03, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}