{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Day 1</h1>

    <article class="blog-post-content">
        <p>This is the first article.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">new beginnings</span><span class="blog-post-tag">change log</span></p>

    <p class="blog-post-created-at">Published about 5 years ago on January 03, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}