{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Finished R Programming!</h1>

    <article class="blog-post-content">
        <p>As of two minutes ago, I have finished the final Coursera's R Programming course!</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

    <p class="blog-post-created-at">Published March 01, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}