{{#> base}}

<div class="blog-post-item-list">
    <h1 class="text-center">All Posts</h1>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/why-do-people-protest-police-brutality.html">Why do people protest police brutality?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">america</span><span class="blog-post-tag">civil rights</span></p>

        <p class="blog-post-item-created-at">Published May 30, 2020</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/omens-and-foggy-days.html">Omens and foggy days</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">personal development</span><span class="blog-post-tag">metaphors</span></p>

        <p class="blog-post-item-created-at">Published June 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/the-white-terror.html">The white terror</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">fiction</span><span class="blog-post-tag">horror</span></p>

        <p class="blog-post-item-created-at">Published June 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/how-are-you-doing.html">How are you doing?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">love</span><span class="blog-post-tag">happiness</span></p>

        <p class="blog-post-item-created-at">Published June 09, 2018</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/keeping-cobwebs.html">Keeping Cobwebs</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">metaphors</span><span class="blog-post-tag">life</span></p>

        <p class="blog-post-item-created-at">Published May 27, 2018</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/let-s-play-a-game.html">Let’s Play a Game</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">metaphysics</span></p>

        <p class="blog-post-item-created-at">Published March 11, 2018</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/black-friday.html">Black Friday</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">commerce</span></p>

        <p class="blog-post-item-created-at">Published December 03, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/what-is-talent-management.html">What is talent management?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">talent management</span><span class="blog-post-tag">organizational development</span><span class="blog-post-tag">professional development</span></p>

        <p class="blog-post-item-created-at">Published July 21, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/vectors-changing-bearings-and-freeing-the-mind.html">Vectors: Changing Bearings and Freeing the Mind</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">goals</span><span class="blog-post-tag">personal development</span><span class="blog-post-tag">behavioral change</span></p>

        <p class="blog-post-item-created-at">Published July 16, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/weeding.html">Weeding</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">gardening</span></p>

        <p class="blog-post-item-created-at">Published July 10, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/the-boys-club.html">The Boys' Club</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">gender pay gap</span><span class="blog-post-tag">tech</span><span class="blog-post-tag">talent management</span></p>

        <p class="blog-post-item-created-at">Published April 20, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/notes-on-the-raspberry-pi-platform.html">Notes on The Raspberry Pi Platform</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">raspberry pi</span></p>

        <p class="blog-post-item-created-at">Published March 21, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/the-three-tenets-of-duck-theory.html">The Three Tenets of Duck Theory</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">duck theory</span></p>

        <p class="blog-post-item-created-at">Published March 19, 2017</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/i-voted-for-donald-trump.html">I Voted for Donald Trump (and three easy steps for saving the nation)</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">politics</span><span class="blog-post-tag">globalization</span><span class="blog-post-tag">futurism</span><span class="blog-post-tag">2016 election</span></p>

        <p class="blog-post-item-created-at">Published December 09, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/what-is-machine-learning.html">What is machine learning?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/unsupervised-learning.html">Unsupervised Learning</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/gradient-descent-for-linear-regression.html">Gradient Descent for Linear Regression</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/cost-function.html">Cost Function</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/gradient-descent.html">Gradient Descent</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/model-representation.html">Model Representation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/supervised-learning.html">Supervised Learning</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

        <p class="blog-post-item-created-at">Published November 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/the-problems-and-some-solutions-in-organizational-task-management.html">The Problems (and Some Solutions) in Organizational Task Management</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">leadership</span><span class="blog-post-tag">delegation</span><span class="blog-post-tag">task management</span><span class="blog-post-tag">aiesec</span></p>

        <p class="blog-post-item-created-at">Published September 22, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/symbols-in-es6-part-1.html">Symbols in ES6</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">javascript</span><span class="blog-post-tag">exploring es6</span></p>

        <p class="blog-post-item-created-at">Published August 21, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/maintaining-a-vacation-mindset.html">Maintaining a Vacation Mindset</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">work</span><span class="blog-post-tag">happiness</span></p>

        <p class="blog-post-item-created-at">Published July 12, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/let-it-burn.html">Let It Burn</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">burning man</span><span class="blog-post-tag">post-scarcity</span></p>

        <p class="blog-post-item-created-at">Published May 19, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/does-it-sell-diamonds.html">Does it sell diamonds?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">blogging</span></p>

        <p class="blog-post-item-created-at">Published May 08, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/new-string-features-in-es6.html">New String Features in ES6</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">javascript</span><span class="blog-post-tag">exploring es6</span></p>

        <p class="blog-post-item-created-at">Published March 14, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/new-number-and-math-features-in-es6.html">New Number and Math Features in ES6</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">javascript</span><span class="blog-post-tag">exploring es6</span></p>

        <p class="blog-post-item-created-at">Published March 14, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/the-first-time-i-worked-with-d3-a-force-directed-graph.html">The First Time I Worked With D3: A Force-Directed Graph</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">data visualization</span><span class="blog-post-tag">d3</span></p>

        <p class="blog-post-item-created-at">Published March 07, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/revitalizing-old-projects-the-talent-management-method-manual.html">Revitalizing Old Projects - The Talent Management Method Manual</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">aiesec</span><span class="blog-post-tag">talent management</span><span class="blog-post-tag">leadership</span><span class="blog-post-tag">organizational development</span></p>

        <p class="blog-post-item-created-at">Published February 23, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/sisyphean-dread-in-the-pursuit-of-greatness.html">Sisyphean Dread in the Pursuit of Greatness</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span></p>

        <p class="blog-post-item-created-at">Published February 15, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/performing-quality-assurance-on-a-small-development-team.html">Performing Quality Assurance on a Small Development Team</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">software development</span><span class="blog-post-tag">agile</span><span class="blog-post-tag">git</span></p>

        <p class="blog-post-item-created-at">Published January 28, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/open-sourcing-my-new-year-s-resolutions.html">Open-Sourcing My New Year's Resolutions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life goals</span><span class="blog-post-tag">career</span><span class="blog-post-tag">personal development</span></p>

        <p class="blog-post-item-created-at">Published January 12, 2016</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/planning-new-years-resolutions-and-goals-reasoning-from-first-principles.html">Planning New Year's Resolutions and Goals - Reasoning from First Principles</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">new years resolutions</span><span class="blog-post-tag">first principles</span><span class="blog-post-tag">goals</span></p>

        <p class="blog-post-item-created-at">Published December 31, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/on-game-theory-the-prisoner-s-dilemma-from-orange-is-the-new-black.html">On Game Theory - The Prisoner's Dilemma from Orange Is the New Black</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">game theory</span><span class="blog-post-tag">prisoner's dilemma</span><span class="blog-post-tag">orange is the new black</span></p>

        <p class="blog-post-item-created-at">Published December 11, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/thoughts-on-radical-candor-and-professional-growth.html">Thoughts on Radical Candor and Professional Growth</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">leadership</span><span class="blog-post-tag">professional development</span><span class="blog-post-tag">personal development</span></p>

        <p class="blog-post-item-created-at">Published November 29, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/thoughts-on-the-right-way-to-ship-software.html">Thoughts on the Right Way to Ship Software</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">software development</span><span class="blog-post-tag">shipping</span></p>

        <p class="blog-post-item-created-at">Published November 16, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/human-personality-types-correlated-with-compatible-dog-breeds.html">Human personality types correlated with compatible dog breeds</a>

        <p class="blog-post-item-tags"></p>

        <p class="blog-post-item-created-at">Published October 22, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/some-more-changes-and-a-new-project.html">Some more changes and a new project</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">new beginnings</span><span class="blog-post-tag">change log</span></p>

        <p class="blog-post-item-created-at">Published October 13, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/ui-changes-and-more.html">UI Changes and More</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">change log</span></p>

        <p class="blog-post-item-created-at">Published October 06, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/a-theory-of-talent-management-forming-a-board-of-advisers.html">A Theory of Talent Management - Forming a Board of Advisers</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">talent management</span><span class="blog-post-tag">aiesec</span></p>

        <p class="blog-post-item-created-at">Published September 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/turning-twenty-seven.html">Turning Twenty-Seven</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">tech</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/my-interests-changed.html">My interests changed.</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">interests</span><span class="blog-post-tag">aiesec</span></p>

        <p class="blog-post-item-created-at">Published September 09, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/a-night-of-vision-planning-and-thinking-about-graduate-school-led-to-this-post.html">A night of vision planning and thinking about graduate school led to this post.</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">vision planning</span></p>

        <p class="blog-post-item-created-at">Published August 04, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/reddit-is-revolting.html">reddit is Revolting</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">reddit</span><span class="blog-post-tag">social media</span><span class="blog-post-tag">editorial</span></p>

        <p class="blog-post-item-created-at">Published July 17, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/three-months-later.html">Three months later...</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">vision planning</span></p>

        <p class="blog-post-item-created-at">Published July 07, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/two-weeks-notice.html">Two Weeks Notice</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">career</span></p>

        <p class="blog-post-item-created-at">Published March 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/interviewing-for-a-job-when-you-re-employed-is-a-lot-like-having-an-affair-when-you-re-married.html">Interviewing for a job when you're employed is a lot like having an affair when you're married.</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">career</span></p>

        <p class="blog-post-item-created-at">Published March 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/finished-r-programming.html">Finished R Programming!</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published March 01, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/pneumonic-devices-for-data-frames.html">Pneumonic devices for data frames</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published February 27, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/what-s-now-next-and-later.html">What's now, next, and later?</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">career goals</span></p>

        <p class="blog-post-item-created-at">Published February 23, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/added-currently-reading-tab.html">Added Currently Reading Tab</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">change log</span></p>

        <p class="blog-post-item-created-at">Published February 09, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-resuming-r-programming.html">Coursera - Resuming R Programming</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published February 03, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/i-want-to-be-a-vc.html">I want to be a VC</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">i want to be a vc</span><span class="blog-post-tag">projects</span></p>

        <p class="blog-post-item-created-at">Published February 03, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-johns-hopkins-data-science-track-hard-and-soft-dependencies.html">Coursera - Johns Hopkins Data Science Track hard and soft dependencies</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data science</span></p>

        <p class="blog-post-item-created-at">Published January 28, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/on-leadership-revisiting-the-old-and-beautiful.html">On Leadership - Revisiting the Old and Beautiful</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">leadership</span><span class="blog-post-tag">entrepreneurship</span></p>

        <p class="blog-post-item-created-at">Published January 23, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/this-is-ridiculous.html">This is ridiculous.</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">coursera</span></p>

        <p class="blog-post-item-created-at">Published January 21, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-reproducible-research-week-1-structure-of-a-data-analysis.html">Coursera - Reproducible Research - Week 1 - Structure of a Data Analysis</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">reproducible research</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-r-programming-week-1-subsetting-r-objects.html">Coursera - R Programming - Week 1 - Subsetting R Objects</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-r-programming-week-1-data-types.html">Coursera - R Programming - Week 1 - Data Types</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-r-programming-week-1-basics.html">Coursera - R Programming - Week 1 - Basics</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-r-programming-week-1-reading-and-writing-data.html">Coursera - R Programming - Week 1 - Reading and Writing Data</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-reproducible-research-week-1-concepts-and-ideas.html">Coursera - Reproducible Research - Week 1 - Concepts and Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">reproducible research</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-reproducible-research-week-1-organizing-your-analysis.html">Coursera - Reproducible Research - Week 1 - Organizing Your Analysis</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">reproducible research</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-reproducible-research-week-1-scripting-your-analysis.html">Coursera - Reproducible Research - Week 1 - Scripting Your Analysis</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">reproducible research</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-r-programming-week-1-vectorized-operations.html">Coursera - R Programming - Week 1 - Vectorized Operations</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">r programming</span></p>

        <p class="blog-post-item-created-at">Published January 18, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-2-toolbox-basics.html">Coursera - The Data Scientist's Toolbox - Week 2 - Toolbox Basics</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">r programming</span><span class="blog-post-tag">markdown</span></p>

        <p class="blog-post-item-created-at">Published January 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-2-basic-git-commands.html">Coursera - The Data Scientist's Toolbox - Week 2 - Basic Git Commands</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">git</span><span class="blog-post-tag">github</span></p>

        <p class="blog-post-item-created-at">Published January 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-2-introduction-to-git.html">Coursera - The Data Scientist's Toolbox - Week 2 - Introduction to Git</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">git</span></p>

        <p class="blog-post-item-created-at">Published January 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-2-introduction-to-github.html">Coursera - The Data Scientist's Toolbox - Week 2 - Introduction to Github</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">git</span><span class="blog-post-tag">github</span></p>

        <p class="blog-post-item-created-at">Published January 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-2-introduction-to-the-command-line-interface.html">Coursera - The Data Scientist's Toolbox - Week 2 - Introduction to the Command Line Interface</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist's toolbox</span><span class="blog-post-tag">command line interface</span></p>

        <p class="blog-post-item-created-at">Published January 14, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-getting-and-cleaning-data-week-1-raw-and-processed-data.html">Coursera - Getting and Cleaning Data - Week 1 - Raw and Processed Data</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">getting and cleaning data</span></p>

        <p class="blog-post-item-created-at">Published January 13, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-getting-and-cleaning-data-week-1-downloading-files.html">Coursera - Getting and Cleaning Data - Week 1 - Downloading Files</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">getting and cleaning data</span></p>

        <p class="blog-post-item-created-at">Published January 13, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-getting-and-cleaning-data-week-1-components-of-tidy-data.html">Coursera - Getting and Cleaning Data - Week 1 - Components of Tidy Data</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">getting and cleaning data</span></p>

        <p class="blog-post-item-created-at">Published January 13, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-getting-and-cleaning-data-week-1-reading-files.html">Coursera - Getting and Cleaning Data - Week 1 - Reading Files</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">getting and cleaning data</span></p>

        <p class="blog-post-item-created-at">Published January 13, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/an-alternative-to-saturday-morning-cartoons-promoting-startup-weekend-edu-with-ruby-scripting.html">An Alternative to Saturday Morning Cartoons - Promoting Startup Weekend EDU with Ruby Scripting</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">twitter api</span><span class="blog-post-tag">ruby</span><span class="blog-post-tag">startup weekend</span></p>

        <p class="blog-post-item-created-at">Published January 10, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/coursera-the-data-scientist-s-toolbox-week-1.html">Coursera - The Data Scientist’s Toolbox - Week 1</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">data scientist’s toolbox</span></p>

        <p class="blog-post-item-created-at">Published January 08, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-sets.html">Learn clojure in Y minutes - Sets</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 08, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-maps.html">Learn clojure in Y minutes - Maps</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 07, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/happy-new-year-a-case-of-the-mondays.html">Happy New Year - A Case of the Mondays</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">life</span></p>

        <p class="blog-post-item-created-at">Published January 07, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-types.html">Learn clojure in Y minutes - Types</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 05, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-beginning.html">Learn clojure in Y minutes - Beginning</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 05, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-collections-and-sequences.html">Learn clojure in Y minutes - Collections and Sequences</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 05, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/learn-clojure-in-y-minutes-functions.html">Learn clojure in Y minutes - Functions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">learn clojure in y minutes</span></p>

        <p class="blog-post-item-created-at">Published January 05, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/installing-clojure.html">Installing Clojure</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">clojure</span><span class="blog-post-tag">leiningen</span></p>

        <p class="blog-post-item-created-at">Published January 04, 2015</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/day-1.html">Day 1</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">new beginnings</span><span class="blog-post-tag">change log</span></p>

        <p class="blog-post-item-created-at">Published January 03, 2015</p>
    </div>

{{/base}}