{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">My First Vipassana Meditation Experience</h1>

    <article class="blog-post-content">
        <p>On Wednesday, December 18th, 2019, I woke up at 6 am anticipating my first Vipassana meditation workshop in Claymont, Delaware. S.N. Goenka, a businessman and householder, spent his time between 1969 and 2013 teaching this path of liberation to people throughout India and, in the decades following, much of the Western world. Goenka credited Vipassana with curing him of debilitating migraines, and described the Vipassana meditation technique as "<a href="https://www.dhamma.org/en/about/code">the Art of Living</a>."</p>
        <p><img src="https://i1.sndcdn.com/artworks-000412646988-xbrd43-t500x500.jpg" alt="S.N. Goenka" /></p>
        <p><em><a href="https://en.wikipedia.org/wiki/S._N._Goenka">S.N. Goenka</a></em></p>
        <p>I left Pittsburgh at 10:30 am and drove east through picturesque Pennsylvania backroads. Sometime after noon, I stopped to fill up my car with gas and saw an email that someone named <strong>V</strong> had sent at 9:30 that same morning.</p>
        <blockquote>
            <p><em>"Hello Neil. Can I ride with you to Claymont? I can meet you at your house."</em></p>
        </blockquote>
        <p>I shook my head, feeling sorry for this person who was going to miss out on this experience, and got back on the road. At 5 pm, I arrived at the center and walked up to the registration table, located in the women's dining hall of these gender-segregated meditation grounds. The energy in the 10'x50' hall felt frantic, as people sat at tables filling out registration forms and talking before adopting Noble Silence for the remainder of the retreat. I spoke to the server managing registration and she gave me some forms to fill out about my demographics, life history and current activities. They wanted to know about my relationship with my family, any mental or substance abuse disorders, and I wrote a brief biography that looked like a series of resume bullet points. I submitted my forms, was assigned to room 11, bed A, and went to get my bags from my car.</p>
        <p><img src="https://delaware.dhamma.org/image/accm12.JPG" alt="Room 11" /></p>
        <p><em>In this picture, my bed is located in the back right next to the door entering the room.</em></p>
        <p>As I unpacked an outfit for the next day, I observed that most of my bunkmates had already settled in and went to the bathroom to sign up for a 15-minute shower slot. I was lucky to get a 9 pm slot - right after the final meditation and nightly discourse recording by the late S.N. Goenka. As I walked out of the bathroom, I said hi to a man who looked to be about my father's age wearing a Kansas City Chiefs hoodie. I asked him if he was from Kansas City and he replied, "Hey, let's talk later," and I smiled and nodded at him. We would reconnect on the tenth day.</p>
        <p>I sat on my bed reading on my phone while some of my bunkmates chatted with each other. I was eager to undertake the discipline of Noble Silence, and when the dinner gong rang at 6 pm, I walked upstairs silently, put some food on my plate, and sat along the counter facing the wall with windows overlooking the meditation hall outside. This would be my seat every day until the tenth day.</p>
        <p>At 7 pm, the men's course manager, <strong>D</strong>, rang a gong to usher us into the meditation hall. One by one, each male was assigned his meditation spot. One of the first names called was <strong>V</strong>, and I felt a tinge of guilt as the course manager shook his head in disappointment as no one came forward to sit on that cushion. I would later learn how our seats had been assigned - servers sat on the side of the teacher so they could easily exit the room, and students were seated in descending order from the front of the room by how many workshops they had attended.</p>
        <p>The course began with the booming baritone voice of S.N. Goenka chanting in Pali, and his ghost welcomed us warmly to the secular, scientific, and rational practice of Dhamma - the Law of Nature. Goenka explained that we were to learn and practice the three Gems of Vipassana - <em>sīla</em>, <em>samādhi</em>, <em>pannā</em>, translated as morality, calmness of mind, and wisdom - by meditating, paying attention to sensations that arise in the body, and developing equanimity to those sensations as they arose, neither craving nor expressing aversion to these sensations. We spent the first three days of the workshop practicing <em>Anapana</em> meditation, which Goenka said would sharpen our minds as we observed the natural breath coming into and going out from our nostrils. After the recording concluded, we were introduced to our Assistant Teachers who sat at the front of the hall facing us - one for the men and one for the women - and were dismissed for the evening around 9 pm.</p>
        <p>Each day afterward followed the same schedule.</p>
        <table>
            <thead>
                <tr>
                    <th style="text-align:left;">Time</th>
                    <th style="text-align:left;">Activity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:left;">4:00 am</td>
                    <td style="text-align:left;">Morning wake-up bell</td>
                </tr>
                <tr>
                    <td style="text-align:left;">4:20 am</td>
                    <td style="text-align:left;">Second morning wake-up bell</td>
                </tr>
                <tr>
                    <td style="text-align:left;">4:30-6:30 am</td>
                    <td style="text-align:left;">Meditate in the hall or in your room</td>
                </tr>
                <tr>
                    <td style="text-align:left;">6:30-8:00 am</td>
                    <td style="text-align:left;">Breakfast and rest</td>
                </tr>
                <tr>
                    <td style="text-align:left;">8:00-9:00 am</td>
                    <td style="text-align:left;">Group meditation in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">9:00-11:00 am</td>
                    <td style="text-align:left;">Meditate in the hall or in your room according to the teacher's instructions</td>
                </tr>
                <tr>
                    <td style="text-align:left;">11:00-12:00 pm</td>
                    <td style="text-align:left;">Lunch</td>
                </tr>
                <tr>
                    <td style="text-align:left;">12:00-1:00 pm</td>
                    <td style="text-align:left;">Rest and (optional) interviews with the teacher</td>
                </tr>
                <tr>
                    <td style="text-align:left;">1:00-2:30 pm</td>
                    <td style="text-align:left;">Meditate in the hall or in your room</td>
                </tr>
                <tr>
                    <td style="text-align:left;">2:30-3:30 pm</td>
                    <td style="text-align:left;">Group meditation in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">3:30-5:00 pm</td>
                    <td style="text-align:left;">Meditate in the hall or in your own room according to the teacher's instructions</td>
                </tr>
                <tr>
                    <td style="text-align:left;">5:00-6:00 pm</td>
                    <td style="text-align:left;">Tea break</td>
                </tr>
                <tr>
                    <td style="text-align:left;">6:00-7:00 pm</td>
                    <td style="text-align:left;">Group meditation in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">7:00-8:15 pm</td>
                    <td style="text-align:left;">Discourse in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">8:15-9:00 pm</td>
                    <td style="text-align:left;">Group meditation in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">9:00-9:30 pm</td>
                    <td style="text-align:left;">(Optional) Question time in the hall</td>
                </tr>
                <tr>
                    <td style="text-align:left;">9:30 pm</td>
                    <td style="text-align:left;">Retire to your own room--Lights out</td>
                </tr>
            </tbody>
        </table>
        <h2 id="day1thursday1219">Day 1 (Thursday, 12/19)</h2>
        <p><strong>D</strong>, the course manager, rang the wake up gong promptly at 4 am and again at 4:20. I got up on this first day, meditated on my breath for about an hour, and went back to sleep until breakfast at 6:30. When the breakfast gong rang, I walked upstairs, put some steel cut oats and stewed prunes in a bowl, sat at my spot by the window, went downstairs, and fell asleep for about an hour. Throughout the week, I occasionally swapped oatmeal for cereal and prunes for bananas, but a part of the essence of maintaining the practice was eating small, simple meals.</p>
        <p>At 7:45, the gong rang and we all walked to the meditation hall in silence. The female Assistant Teacher gave a nod to the male Assistant Teacher, <strong>G</strong>, and he played a recording of Goenka's booming voice, instructing us to meditate and focus on the natural breath coming into and going out of our nostrils. I sat on my v-shaped cushion, closed my eyes, and focused. On the cushion next to me, a fellow meditator and bunkmate sniffed intermittently, breaking the silence of the meditation hall. I hoped with requisite compassion that he felt better soon.</p>
        <p>Throughout the day, after each hour-long meditation session in the hall, I would go back to my room, try to meditate, and would fall asleep instead. Across from me, my bunk mate <strong>N</strong> would do the same. In my head, I called him <strong>Sleepy N</strong> - my partner in sleep.</p>
        <p>At the end of the first day, I felt like I hadn't made any real progress in terms of my awareness, and my back, hips, and knees hurt. I noticed that some of my classmates had gotten back rests and considered getting one too. Instead, I grabbed another block-shaped cushion from the storage closet at the back of the hall, went back to the dormitory, showered, and fell asleep almost immediately.</p>
        <h2 id="day2friday1220">Day 2 (Friday, 12/20)</h2>
        <p>Day 2 was similar to Day 1. While walking between the residence and meditation halls, I created a method for mentally tracking the days as they passed. Day 2 was 2-F-20: Day 2, Friday, the 20th. After the 8 o'clock morning meditation session, the Assistant Teachers called groups of three or four students at a time to check in on their progress regarding the day's lesson. In one of the first groups, I heard <strong>V's</strong> name. Somehow he had made it in from Pittsburgh. I made a mental note to talk to him at the end of the retreat.</p>
        <p>Throughout the day, I switched positions multiple times each hour while I meditated. Although the extra block-shaped cushion underneath my v-shaped cushion prevented pins and needles in my legs, I started to experience cramping in my left calf muscle and pain in the fascia by my right hip. Throughout the day, I kneaded this area and stretched in my bunk between sessions. In addition to these pains, my left wrist - which I broke nearly 13 years ago - started to hurt for the first time in over a decade. The person next to me was still sniffling and sneezing.</p>
        <p>On this day, I was able to feel the breath coming into and going out of my nose, but I felt a strong urge to quit the course. My back hurt and my arms and legs were stiff. However, during the evening discourse, Goenka revealed that the pains we were likely experiencing were an expected <a href="https://en.wikipedia.org/wiki/Sa%E1%B9%85kh%C4%81ra">product of the Vipassana process</a>. We were to observe these sensation with equanimity and recognize their impermanence - <em>anicca</em>.</p>
        <p>I slept a great deal between meditation sessions in the hall, but at the end of this day, I asked <strong>D</strong>, the course manager, if I could get a back rest. He said I would have to ask the male Assistant Teacher, <strong>G</strong>, after 9 pm when he would be open for questions from students. I went back to the residence hall, showered, and fell asleep almost immediately instead.</p>
        <h2 id="day3saturday1221">Day 3 (Saturday, 12/21)</h2>
        <p>I heard <strong>D</strong> ring the second gong at 4:20 and glanced out of the corner of my eye as he turned on our room light. This helped me wake up at 4:30, although <strong>Sleepy N</strong> got up and turned off the light shortly after that. I meditated in my bed, watching the sensations of temperature and pressure underneath my nostrils with my mind's eye. I fell asleep after about an hour of meditating, woke up for breakfast, fell asleep after breakfast for about an hour, and went to the 8 am meditation session, debating while I walked whether to call Saturday S, Sa, or A and decided that, because Saturday in Spanish is Sábado and in German is Samstag, that the day was 3-A-21. My mental gears were turning.</p>
        <p>On this day after the morning session, <strong>G</strong> told us to take a short break and return to the meditation hall for further instructions. I stretched for a bit, returned to my cushions, and he played a recording by Goenka telling us to return to meditation. After the recording, both <strong>G</strong> and the female Assistant Teacher walked out of the room. The person sitting next to me had stopped sniffling and sneezing. Impermanence. <em>Anicca</em>.</p>
        <p>This was the first day until the end of the course that the Assistant Teachers would invite us back into meditation in the hall (instead of dismissing us to our rooms) after a morning or afternoon meditation session. They would play a short recording by Goenka, who instructed us to "Start again," before leaving us to meditate without their presences. I meditated for about an hour more and returned to my room to nap for half an hour before lunch. After lunch, I took another nap.</p>
        <p>When the gong rang at 1:00, I sat up in my bed and began to meditate. <strong>Sleepy N</strong> was already up in his bed, eyes closed and diligently focused on his practice. After maybe 45 minutes to an hour of meditating, I started to feel tingly sensations within and around my nose. I did not realize this at the time, but this ability to pay very close attention to sensations past the "gross sensations" of temperature, pressure, and other products of the external environment was the foundation for the course's transition into Vipassana meditation - noticing the most minute sensations within and around our bodies.</p>
        <p>As I became hyper-focused on this tingly sensation, I felt my body become extremely relaxed, and I tipped over onto my pillow, falling heavily asleep for about thirty minutes before the afternoon session in the meditation hall. My afternoon meditation in the hall was not as successful as the session I had in my bunk, and in the evening after 9 pm, I spoke to <strong>G</strong>, the male Assistant Teacher.</p>
        <blockquote>
            <p><em>"Can I have a back rest?"</em></p>
        </blockquote>
        <p>He turned to <strong>D</strong>, who sat next to him with the other servers.</p>
        <blockquote>
            <p><em>"Do we have more back rests?"</em></p>
            <p><em>"Yes."</em></p>
            <p><em>"Then that should be fine."</em></p>
        </blockquote>
        <p>I smiled. He paused, looking at me intently.</p>
        <blockquote>
            <p><em>"Do you have other questions?"</em></p>
            <p><em>"I find it difficult to focus."</em></p>
        </blockquote>
        <p>I smiled. <strong>G</strong> responded.</p>
        <blockquote>
            <p><em>"Yes, that is very common. Just focus on your natural breath and practicing equanimity toward the sensations that arise."</em></p>
            <p><em>"I will do that. Thank you."</em></p>
        </blockquote>
        <p>After this brief exchange, I went back to my room, showered, and fell asleep almost immediately.</p>
        <h2 id="day4sunday1222">Day 4 (Sunday, 12/22)</h2>
        <p>I slept through the morning gongs but made it upstairs for breakfast. I made a mental note that the day was 4-U-22 and agreed with myself that it should follow the same "second-letter" convention that I had used with Saturday, consciously ignoring the fact that I was post-hoc rationalizing something so arbitrary instead of practicing mindfulness. When I got to the meditation hall at 8:00, I was pleased to see that there was already a back rest in my spot. I settled into my back rest and repositioned my v-shaped cushion behind my back so the back rest wouldn't dig into my thoracic spine. Almost every cushion had been taken by other students from storage, so I adjusted my legs a few times as they lost circulation momentarily.</p>
        <p>After the morning meditation session, <strong>G</strong> told us to take a short break and return to the meditation hall to learn the technique of Vipassana meditation. I stretched, returned to the hall, and listened as Goenka's booming voice introduced us to Vipassana. As a group, we recited a pledge to practice patiently and persistently and then, upon Goenka's instruction, asked our Assistant Teachers to teach us the technique of Vipassana, a form of body scanning meditation. Throughout the day, as I walked between the residence and meditation halls, I noticed my eyes drift to the exit gate of the compound. Despite my back rest, I felt tired and was having a difficult time practicing equanimity. My body felt tired and my hips and legs were tight. After the afternoon meditation session, I did hip stretches and took a nap.</p>
        <p>In the evening, as we walked to the meditation hall for the 6:00 session, there was lots of honking and disruption in the otherwise quiet neighborhood where the center was stationed. We saw colorful lights and heard shouting voices, and I realized that there was a line of cars coming down the road draped in Christmas lights. We were witnessing a Christmas parade, and I was reminded that society, people, and lives existed beyond these grounds. This experience and the discomfort I was experiencing were temporary. <em>Anicca</em>.</p>
        <h2 id="day5monday1223">Day 5 (Monday, 12/23)</h2>
        <p>5-M-23. Goenka began the 8:00 session by telling us to "Remain Aware" as we scanned our bodies, starting from the top of the head and scanning to the toes, instructing us to meditate with strong determination - <em>Adhittana</em> - remaining still and equanimous for each hour-long meditation session in the hall, regardless of the discomfort or other unpleasant sensations we felt. He repeated himself throughout the day at each session, and told us to undertake Vipassana "Patiently and Persistently" with "Great Seriousness." After the morning meditation session, I went back to my room to meditate and noticed that I didn't feel as sleepy as I had the previous four days.</p>
        <p>It took a while to realize, but I was genuinely exhausted from my first semester of graduate school. After diligently working 80-hour weeks while managing my physical fitness and maintaining a respectable social life, my energy stores had been completely depleted, and when left alone to myself without any distractions other than the pure awareness of my experience, I slept whenever I got the chance.</p>
        <p>I was able to meditate for about an hour and a half after the morning meditation session, and at 10:30, I fell asleep again. At exactly 10:55, I shot up out of bed, making eye contact with <strong>Sleepy N</strong> in the bunk across from me. He looked at me, glanced at the clock outside our room, put on his shoes, and left to join the lunch queue. Without technology, <a href="https://www.sleepfoundation.org/articles/how-blue-light-affects-kids-sleep">blue light</a>, or distractions, my body clock had calibrated itself to the rhythm of days at the meditation center.</p>
        <p>That evening, Goenka reminded us that, as we practiced equanimity toward the sensations that arose as we scanned our bodies, old habit patterns of what Western psychologists refer to as the unconscious mind would arise. As we purified our minds and continued along the path of <em>Dhamma</em>, we would eventually - either in this lifetime or in future ones - achieve liberation - <em>moksha</em>, freed from the bonds of the mortal world and the cycle of death and rebirth. These statements contradicted Goenka's frequent assertions (and praisings) that Vipassana and the Law of Dhamma were so secular, so rational, and so scientific without the dogma of other practices. I decided to take his words with a grain of salt and made a mental note to look up <a href="https://en.wikipedia.org/wiki/Past_life_regression">past life regression</a> after the retreat had concluded.</p>
        <h2 id="day6tuesday1224">Day 6 (Tuesday, 12/24)</h2>
        <p>Each morning and afternoon, I began walking slowly in loops around the complex between meditation sessions in the hall. After lunch, I went back to my room to rest, but when <strong>D</strong> rang the gong at 1:00, I hopped out of bed, put on my shoes, and decided to walk a few laps before starting an early afternoon meditation session. Just before I concluded my walk, I saw <strong>Sleepy N</strong> on the path. We made eye contact. He looked very sleepy. When I got to the meditation hall, I checked the storage room and was pleased to see another block-shaped soft cushion in the storage room. I assembled a throne for myself - two cushions as my seat with a v-shaped cushion on my back rest. I took great pleasure in meditating until 3:30 and then returned to my room to rest.</p>
        <p>When I returned to the residence hall and walked into my room, <strong>Sleepy N's</strong> things were gone. His bed had been made into its initial state and it was as if he had simply vanished. It was then that I realized that the cushion I had taken from storage had been his, and his meditation seat - which had been next to the storage room - had been cleared from the hall. I tried to make eye contact with another male in my room, whose bunk was across from mine and next to <strong>Sleepy N's</strong>. I restrained myself to practicing Noble Silence, knowing that he knew we had lost one.</p>
        <p>That night during Goenka's discourse, he rhetorically asked us how we felt. He said that it was very common for weak-minded people to leave on the 2nd and 6th days of the course, as the technique is very intense, thorough, and requires a great deal of Patience and Persistence, recalling his time in Burma as a Vipassana student. He chuckled, relating a time when he visited a center and encountered a strict disciplinarian Assistant Teacher who yelled at a student to not leave their meditation cell during the prescribed group meditation blocks. He recalled how the tone and expression of this particular teacher changed when he returned to Goenka's side, joyous and free.</p>
        <p>I returned to the residence hall, showered, and remained awake while meditating intermittently for two hours before falling asleep.</p>
        <h2 id="day7wednesday1225">Day 7 (Wednesday, 12/25)</h2>
        <p>By day 7, I had stopped tracking the days and became intently focused on the practice of Vipassana. Goenka repeated himself frequently during the second half of the course, praising our progress but reminding us that we had much farther to go. His voice echoed in the meditation hall at each session.</p>
        <blockquote>
            <p><em>"Start again."</em></p>
            <p><em>"Remain aware."</em></p>
        </blockquote>
        <p>After the morning meditation session, <strong>G</strong> called up each row of men and asked them if they were successfully doing the body scans while practicing equanimity. When he asked me, I said that, for some reason, I was very emotionally upset and having a hard time remaining equanimous. He told me to do my best, and we meditated for a few minutes before he dismissed us to work individually. Not only did I feel disturbed, but I also felt extremely critical of those around me. My inner judge commented critically on those who walked by me - <em>"Look at this jerk stomping around."</em> - and felt generally resentful toward my fellow meditators.</p>
        <p>I had also started to cultivate greater awareness of the thoughts in my head and recognized that most of my thoughts revolved around sex and violence. Left alone in my head, focusing on my inner mind and body, my mind ceaselessly concocted lustful and gruesome scenes for me to witness. Some scenarios were not at all surprising and others left me amazed and horrified at the many ways I knew how to chop up and dispose of bodies. Despite these distractions, I continued my body scans - from the top of the head down to the toes.</p>
        <p>That night, Goenka talked about the five enemies of Vipassana meditation - craving, aversion, anxiety, lethargy, and doubt. By developing equanimity, patience, remaining aware, and maintaining a persistent practice, we combated these enemies. He reminded us that our three allies - <em>sīla</em>, <em>samādhi</em>, <em>pannā</em> - morality, calmness of mind, and wisdom - would guide us down the path toward liberation. In encountering the passions and violence within my mind, I remembered that <a href="https://www.youtube.com/watch?v=nI-Ko-d29X4">integrating the shadow self</a> - those thoughts we repress but which are [inescapable parts of our core nature](https://en.wikipedia.org/wiki/Shadow_(psychology) - is a step on the pathway toward self-actualization and enlightenment.</p>
        <p>After the discourse, I approached <strong>G</strong> to ask him a question.</p>
        <blockquote>
            <p><em>"Yesterday while I was scanning my body, I was, after only a few seconds of focusing on an area, able to feel sensations throughout most of my body. On areas where I didn't sense anything, I focused and was satisfied with my progress. Today, however, I am able to feel my head, my arms, and my feet, but everything between my upper chest and knees is blocked. Why would that happen?"</em></p>
        </blockquote>
        <p>His answer was simple.</p>
        <blockquote>
            <p>*"These things happen as a natural part of the practice. Just remember that this is impermanent - *anicca* - and to continue the practice by neither craving positive sensations nor being averse to the lack of sensation. Just keep scanning."*</p>
        </blockquote>
        <p>I did not expect such a non-answer from him, but perhaps it was the best answer he could have given under the circumstances. I returned to the residence hall, showered, and stayed awake for three hours before I fell asleep.</p>
        <h2 id="day8thursday1226">Day 8 (Thursday, 12/26)</h2>
        <p>On the morning of Day 8, I hopped out of bed and went to the meditation hall at 4:30. Someone had taken <strong>N's</strong> spot in the meditation hall and sat behind me - snoring. Ironically, his name was <strong>F</strong>. I rearranged my cushions onto a flat, elevated plane and tried to develop equanimity about the situation, but sat with resentment for about an hour until going back to the residence hall.</p>
        <p>At the 8:00 meditation session, <strong>F</strong> was still sleeping and snoring, and the female Assistant Teacher turned to <strong>G</strong>, who motioned to <strong>D</strong>. <strong>D</strong> walked over to <strong>F</strong> and shook him awake. I breathed a sigh of relief and resumed my focus. I noticed that despite his actions, my violent (and/or sexual…) thoughts were not about him. I noticed that the faces witnessed by my mind's eye were becoming more ephemeral and replaced by shadows.</p>
        <p>That night, Goenka said we had one more day to practice seriously until Noble Silence was broken at 9:30 on the tenth day. I took his words to heart, but after the discourse, I experienced a painful bout of tinnitus - loud, high-pitched ringing with no source. Since high school, I have gone to metal concerts and often fail to protect my ears, but only rarely experience tinnitus. In the moment, instead of scanning my body, I examined the sensation of tinnitus. I meditated on the tone and the amplitude of the ringing, and something amazing happened. I felt vibrations all across my body, and for the last hour and a half of the day, I felt like I was floating. I went back to the residence hall, showered, looked soberly at <strong>Sleepy N's</strong> empty bed wondering if he knew what he had left behind, and meditated until I fell asleep.</p>
        <h2 id="day9friday1227">Day 9 (Friday, 12/27)</h2>
        <p>On the last day of serious meditation, I woke up at 4:20 and one of my roommates looked at me as I stared, glossy eyed, out the window of our room. I nodded at him and he smiled, put on his coat, and left. Eventually I did the same and walked to the meditation hall.</p>
        <p>My sexual and violent thoughts had almost all but disappeared, and I was able to focus greatly on the sensations within and around my body. All throughout the ninth day, Goenka reminded us to maintain equanimity, remember the Three Gems of <em>sīla</em>, <em>samādhi</em>, <em>pannā</em>.</p>
        <p>In the evening, he told us that we would learn one final form of meditation to serve as a healing salve upon the wounds caused by the psychic surgery that we had undertaken during the days prior. <em>Mettā</em>, defined loosely as compassion, was something we had been taught in theory but now would be applying on the final day as Noble Silence ended.</p>
        <h2 id="day10saturday1228">Day 10 (Saturday, 12/28)</h2>
        <p>The gong rang at 4:00 and 4:20, and I sat up in bed to meditate for an hour before falling asleep. At breakfast, I signed up to speak to <strong>G</strong> privately, and <strong>D</strong>, the male course manager, told me that I could speak to <strong>G</strong> after the evening meditation at 6 pm.</p>
        <p>At 8:00, we walked to the meditation hall, did our final Vipassana meditation session, and were dismissed at 9:00 for a short break before returning to the hall to learn <em>mettā</em> meditation. After everyone was reseated in the hall, Goenka's voice emerged chanting over the loudspeaker. For forty five minutes, he and others celebrated. At the end of the recording, he said words that had been at the end of every discourse every evening of the course.</p>
        <blockquote>
            <h1 id="mayallbeingsbehappy">May All Beings Be Happy</h1>
        </blockquote>
        <p>He finished the recording with a fading chant in Pali, and the Assistant Teachers walked out of the hall while we sat. Slowly, each student rose from his or her seat and left the meditation hall. I left, put my shoes back on, and started walking slowly back to the residence hall. Five feet ahead of me, the bunkmate who I had said good morning to the day previously turned around.</p>
        <blockquote>
            <p><em>"Neil, my name is <strong>P</strong>. It's kind of funny that we've lived across from each other for the past ten days and not said a word to each other."</em></p>
        </blockquote>
        <p>I laughed and agreed, and we chatted like old friends until we got to the residence hall. All of the lights were on and the building was alive with Noble Chatter. I got to know my bunkmates - a massage therapist, a pharmacist, a high school teacher, a digital marketing executive - and found that this single experience connected all of us. Other meditators who I met throughout the day included a recent MBA graduate who had gotten an offer from a Top 5 accounting firm and a pre-calculus professor at a local community college. I mentioned my wrist pain, and the massage therapist in our room, <strong>T</strong>, said that on Day 8, he felt like he wasn't in his body anymore after dissecting it with his mind's eye. He recalled that Goenka had mentioned during one of the discourses the nature of <em>saṅkhāras</em>, or habits of the mind, which resist dissipation as we practice equanimity and recognize their impermanence. <em>Anicca</em>.</p>
        <p>When the lunch bell rang, we walked upstairs together and I was greeted by a familiar face.</p>
        <blockquote>
            <p><em>"<strong>V.</strong> Hi."</em></p>
            <p><em>"Hi Neil, can you give me a ride home?"</em></p>
            <p><em>"Yes. Happily. Sorry for not responding to your email. I was already on the road when I saw it."</em></p>
            <p><em>"No problem. I was admitted to the course just that morning. My wife dropped me off and went back home. I'm glad you're here."</em></p>
        </blockquote>
        <p>The dining hall, for the first time since I had arrived, was buzzing with noise. It felt so natural to hear clamoring and the white noise of chattering voices, but one surprising thing was how Noble Silence had enabled a higher level of politeness among our group of men. Without the ability to talk, we simply moved out of each others' way. At lunch on Day 10, I stood in front of the toaster as someone said, "Excuse me," stuck their arm in front of my face, and grabbed a loaf of bread. Equanimity. When Noble Silence had been in effect, I remembered paying attention to the shadows around corners of entry doors to the kitchen, bathroom, and our bunk and strafing to the side to avoid bumping into someone. Now, all it took were some words. I learned that there was truly substance in the lack of speech.</p>
        <p>At lunch, I sat with a group of old students who had been to a Vipassana workshop before, and met the man who had been wearing the Kansas City Chiefs hoodie on the first day. His name was <strong>L</strong>.</p>
        <blockquote>
            <p><em>"Yeah, so you asked me if I was from Kansas City, but I just root for them. I've got a group of pals who I watch football with and the Chiefs have a great team this year."</em></p>
        </blockquote>
        <p>I tried to steer the conversation away from sports. We got to know each other. He was retiring soon and he and his wife were headed to a concert in New York after he got home from the workshop. He had two grown children - a son and a daughter, and he was retiring in May after working for 32 years.</p>
        <blockquote>
            <p><em>"You said your last name is Thawani? I lived in Chicago a few years ago and knew some Thawanis. We still keep in touch. You think you're related to them?"</em></p>
            <p><em>"What? That's wild. We're probably related. Next time you talk to them, tell them to reach out on our family's WhatsApp group."</em></p>
        </blockquote>
        <p>He laughed and we exchanged pleasantries. Funny thing: After the retreat, I asked my Dad about this and he said that those Thawanis were his dad's dad's siblings's descendants. It's amazing the people you meet at a Vipassana workshop.</p>
        <p>After lunch, we took a tour of the center and walked through its new buildings which were under construction. That evening, we had one final evening meditation in the hall. I had signed up that morning for a private talk with <strong>G</strong>, and before Goenka's final evening discourse, I approached him.</p>
        <blockquote>
            <p><em>"This is a little unconventional, but could we speak in the private room?"</em></p>
        </blockquote>
        <p>He agreed, and I walked with <strong>G</strong> to the private room connected to the shoe room.</p>
        <blockquote>
            <p><em>"I'm sorry we haven't talked much this week, but I had a good handle on the practice after I got the back rest and wanted to deal with this alone."</em></p>
        </blockquote>
        <p>He nodded. I explained that over the course of the week, I had experienced many sexual and violent thoughts - the former of which were somewhat expected and the latter of which were somewhat expected but not to the degree and intensity with which they emerged. I told <strong>G</strong> about the daily yoga practice I maintained for over a year and a half while living in Kansas City and how after I rationalized to myself that after I had "maxed out my strength" doing yoga, I started boxing. Really, I admitted, it was an outlet for my sourceless aggression.</p>
        <blockquote>
            <p><em>"Before I came to Claymont I had asked myself, 'Who will I be without the violence in my heart?' Now, after having confronted this sex and violence in a sterile environment on Holy Grounds, where we had no distractions and followed the <a href="https://www.dhamma.org/en/about/code">Precepts</a> intently, I will return to the outside world where there are billboards reading XXX on the highway and people driving erratically in traffic and sexual and violent imagery in the media everywhere. How can I maintain a practice successfully outside these grounds?"</em></p>
        </blockquote>
        <p><strong>G</strong> paused before responding.</p>
        <blockquote>
            <p><em>"You have learned through experience that by not practicing craving or aversion to these sensations, you are practicing equanimity when observing sensations in the body. But you have urges or sensations for sex and violence and these simultaneously cause you great pleasure and discomfort. By remaining equanimous and recognizing that these sensations are impermanent, you can just let them pass. Eventually they may fade away completely."</em></p>
        </blockquote>
        <p>It seemed so simple when he explained it. I nodded. He continued.</p>
        <blockquote>
            <p><em>"The best thing you can do is practice Vipassana. Practice the technique of observing the sensations and letting them pass. Be equanimous and do not feel guilty that you are feeling or thinking things. You can even act in accordance with your feelings as long as your intention is positive."</em></p>
        </blockquote>
        <p>I recalled Goenka's story of the strict disciplinarian Vipassana teacher he observed in Burma, who shouted at a student to get back to meditating and returned, joyous like the Buddha, to continue his tour of the center with Goenka.</p>
        <blockquote>
            <p><em>"So you experience anger or you experience passion and these are pleasurable sensations. Otherwise you would not crave them, as you did. But be compassionate to yourself. We have learned this mettā meditation on the last day so you can learn to practice being compassionate toward yourself. And by practicing equanimity and compassion with yourself, you can share that with the world when you leave this place."</em></p>
        </blockquote>
        <p>I smiled, nodded, stood up, and we exchanged some more words before walking into the meditation hall. In Goenka's last evening discourse, he talked about his history as a businessman who had moved from Burma to India and later to the West to teach Vipassana. The spiritual practice had relieved him of migraines no doctor could cure, and he felt greater peace after 14 years of studying under his own Vipassana instructor before venturing out on his own to share the practice with his home country of India. During his final instruction, Goenka admitted that although the course was free for all students, he still insisted upon receiving a payment for his services - perhaps because of his past career as a businessman. Through the veil, the late S.N. Goenka instructed us that he was to receive royalties for his services. Our payment to him was to send him blessings when we meditated.</p>
        <p>After he wished us peace and happiness, we were dismissed from the meditation hall. One main takeaway from this trip was that talking and socializing requires a great deal of energy. That night, I fell asleep almost as soon as my head hit the pillow.</p>
        <h2 id="theendsunday1229">The End - Sunday, 12/29</h2>
        <p>On my final day at the center, I woke up and walked to the meditation hall at 4:30. We participated in one final <em>mettā</em> meditation session and the Assistant Teachers dismissed us. I walked back to the residence hall, retrieved my shower supplies from the bathroom, and began to pack my bags. The room was bustling with people taking out their own bags and cleaning their spaces. At 6:30, the breakfast gong rang and I made buttered toast with cereal before submitting a form to volunteer as a web developer for the Mid-Atlantic Vipassana Association. The course manager thanked me, I thanked him, and <strong>V</strong> and I loaded up my car and left.</p>
        <p><strong>V</strong> and I talked almost the entire time while we were on the road. While I drove, I talked about how Vipassana and the practice reminded me of <a href="https://en.wikipedia.org/wiki/Hebbian_theory">Hebbian learning</a>, which is the conceptual foundation for the theory of <a href="neuroplasticity">https://en.wikipedia.org/wiki/Neuroplasticity</a>.</p>
        <blockquote>
            <p><em>"Neurons that fire together wire together."</em></p>
        </blockquote>
        <p>I asserted that by developing awareness during the practice, recognizing impermanence - <em>anicca</em> - and practicing equanimity toward any sensations that may arise in the body, we condition ourselves via this response to stimuli that may otherwise be aversive or pleasurable - as Goenka had pointed out. By recalling my undergraduate studies and connecting them to Vipassana, I was remembering lessons I had been taught while putting them into practice.</p>
        <p>We stopped briefly on the road and <strong>V</strong> filled up my gas tank. At around 1 pm, we arrived at <a href="https://divanichocolate.com/">his family's coffee shop/chocolatier</a>, and he waved at the owners of a nearby arts and crafts shop. I walked around his family's shop and <strong>V's</strong> wife opened up the chocolate sampling tray. I purchased a set of orange and caramel dark chocolate squares. When he saw me do this, <strong>V</strong> shoved two more packs of chocolate into my hands. <em>"Take it. It's free."</em> I tried to refuse, but he insisted. <strong>V</strong> and his wife ordered pizza and I sat with his 8 year old daughter while she colored stickers to sell out of their shop. His mother-in-law left to run errands, and the owner of that nearby arts and crafts store stopped by to buy a coffee, some stickers, and took <strong>V's</strong> daughter out to play.</p>
        <p>When I left, I hopped on the interstate and recorded the first draft of this blog post over the course of 25 minutes, recalling everything I possibly could. After I finished recording, I sat in silence for an hour until I arrived home in Pittsburgh.</p>
        <h2 id="closingthoughtsandreflections">Closing Thoughts and Reflections</h2>
        <p>It's been two weeks since I got back home from my first Vipassana workshop. Although I remember it fondly - truth be told - I wanted to leave almost every single day I was there. Without any distractions, confronting oneself is an arduous task, and time at the center stretched elastically without the distractions of technology, recreation, and socialization. However, I look at this experience as something that was invaluable. I was able to witness, live through, and let pass many thoughts and experiences - far beyond what I shared in this post - that I avoided confronting before going to this workshop.</p>
        <p>When we left the center, we were advised to maintain a diligent practice - one hour in the morning and one hour in the evening. The day after I returned home, I got on the city bus and found it easy to do <em>Anapana</em> meditation during my 10 minute ride to campus. I maintain this as a daily practice. After I got back to Pittsburgh, I found that I enjoy and appreciate silence much more than I did before the workshop.</p>
        <p>In summary, I do eventually plan to go to another Vipassana workshop. I think people who can spend 10 days in silence meditating on morality, calmness of mind, and wisdom while adhering to the discipline of strict precepts are the kind of people you want in your life. And if you are of sound mind and body, I recommend you go on a Vipassana meditation workshop and do the work - Patiently and Persistently. Seriously and with the great equanimity, remaining aware of all sensations that may arise while neither craving pleasurable sensations nor being averse to uncomfortable sensations. And above all, may you, dear reader - and all beings - be happy.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">meditation</span></p>

    <p class="blog-post-created-at">Published January 12, 2020</p>

    {{> blog-post-comment}}

</div>

{{/base}}