{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Notes on The Raspberry Pi Platform</h1>

    <article class="blog-post-content">
        <p><a href="//www.slideshare.net/NeilThawani/the-raspberry-pi-platform" title="The Raspberry Pi Platform" target="_blank"><iframe src="//www.slideshare.net/slideshow/embed_code/key/CHKhle9heeR60M" width="100%" height="800" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 0; min-width: 100%;" allowfullscreen> </iframe></a></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">raspberry pi</span></p>

    <p class="blog-post-created-at">Published March 21, 2017</p>

    {{> blog-post-comment}}

</div>

{{/base}}