{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">On Game Theory - The Prisoner's Dilemma from Orange Is the New Black</h1>

    <article class="blog-post-content">
        <p><u>Notice:</u> The following article contains spoilers from the Season 1 finale and Season 2 premier of Netflix's Orange Is the New Black.</p>
        <p><a href="https://en.wikipedia.org/wiki/Orange_Is_the_New_Black" target="_blank">Orange Is the New Black</a> is a comedy-drama series on Netflix based on the memoir "Orange Is the New Black: My Year in a Women's Prison" by Piper Kerman. The inmate Piper Chapman, who portrays Kerman's likeness in the show, is asked to stand trial and testify against Kubra Balik, her former boss and a trafficker for an international drug cartel - because with a name like that, what else could he be in the show?</p>
        <p>Her ex-girlfriend and co-inmate Alex advises her to keep her mouth shut and disavow all knowledge of Kubra's activities and to run far away safely. Piper tells Alex that she can't perjure herself, but during the trial, she tells the court that she was traveling the world and living lavishly because she was in love with Alex. She couldn't remember meeting Kubra because the rest of the world was in the background. Alex, on the other hand, tells the truth on the stand and after the trial, we see Piper, still behind bars, screaming at Alex as Alex is escorted out of prison. Piper cooperated with Alex's lie and Alex defected from her agreement with Piper. This reminded me of the classic Prisoner's Dilemma.</p>
        <p style="margin-left:auto;margin-right:auto;width:50%;"><img src="http://ingrimayne.com/econ/IndividualGroup/PD-1.gif" alt="The Prisoner's Dilemma from Game Theory" /></p>
        <p>Given:</p>
        <ul>
            <li>Alex is Prisoner A and Piper is Prisoner B and</li>
            <li>we see the intersection of choices where A confesses and B does not confess,</li>
        </ul>
        <p>we see the events in the show unfold as the lattice indicates:</p>
        <p>Alex gets off with probation and Piper is sentenced. While the show's viewers are led to believe that Piper acted unpredictably in her nostalgic recanting of her love for the now-estranged Alex, we find that the decisions made by the writers of the show and/or the justice system lead to consequences predicted for irrational players in a prison game.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">game theory</span><span class="blog-post-tag">prisoner's dilemma</span><span class="blog-post-tag">orange is the new black</span></p>

    <p class="blog-post-created-at">Published December 11, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}