{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">On Leadership - Revisiting the Old and Beautiful</h1>

    <article class="blog-post-content">
        <p>Tonight I went to a banquet called <a href="http://pipelineioty.com/" target="_blank">Pipeline Innovator of the Year</a>, an event honoring entrepreneurs in the Silicon Prairie who take part in a year-long business leadership development program and join a network of hundreds of people who have a benevolent stake in their success. I volunteered to be a bouncer, and after standing near a door for two hours <em>(and letting some people in with minor incident)</em>, mingling with some new and old friends <em>(it's a small world)</em>, and being reprimanded for letting some people in <em>(that was the minor incident)</em>, the evening began with applause, awards, honors, and glory to the new 2015 Pipeline Entrepreneurs class.</p>
        <p>During the evening, I spoke with <a href="https://twitter.com/prentissearl03" target="_blank">Prentiss Earl III</a>, who works at the <a href="http://www.kauffman.org/" target="_blank">Kauffman Foundation</a>. He told me how he and his team worked to organize and publicize <a href="http://www.1millioncups.com/" target="_blank">1 Million Cups</a>, a program that started in KC but now happens across the nation every Wednesday morning at 9 am. He talked about grit and said the phrase 'rallying the troops' multiple times. We related to each other on our experiences of servant leadership and addressing the leadership gap that exists in many organizations today.</p>
        <p>This event, with all its flair and gusto, brought to light that at this phase in my life, I can't be a local celebrity like many of those folks that were on stage tonight. I need to develop myself and build the skills I know I need to learn in order to find success in my professional life. However, it was truly inspirational to speak with Prentiss and to hear his passion for empowering people communicated through his emotion and voice. Because of this catalyst, I'm going to start blogging about technology, software engineering, <em><u>and</u></em> leadership.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">leadership</span><span class="blog-post-tag">entrepreneurship</span></p>

    <p class="blog-post-created-at">Published almost 5 years ago on January 23, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}