{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">reddit is Revolting</h1>

    <article class="blog-post-content">
        <p><a href="http://www.reddit.com" target="_blank">reddit</a> is revolting, and the whole Internet has an opinion on the situation. Given that I've been using <a href="http://www.icq.com" target="_blank">social media</a> since 4th grade (circa 1997), I thought I'd weigh in too, while offering a review (academically) of the opinions stated by many founders of social networks that have come and gone.</p>
        <p>People like Gina Bianchini, the co-founder of Ning, which was <a href="https://www.crunchbase.com/organization/ning" target="_blank">acquired</a> Glam Media in 2011, <a href="http://recode.net/2015/07/06/as-reddit-burns-some-hard-earned-lessons-on-building-an-open-community/" target="_blank">weigh in</a> on the uncontrollability of <em>any</em> network. She emphasizes the importance of highlighting the good folks (the majority) who come to the network for a sense of community and sweeping the bad under the rug, stating it's a "Pandora's Box" of personalities that can't be avoided. She goes on to say that it's impossible to control who comprises a network, but there are three "levers" that an administrator can pull:</p>
        <p>
        <ol>
            <li>update how the product works by encouraging good behavior and discouraging bad behavior (e.g., upvoting/downvoting) or by simply muting trolls,</li>
            <li>consistently enforce well-defined policies, and</li>
            <li>ensure active, ongoing communication between the corporate team and community leaders. Open, engaged leaders are the new norm, standing alongside the traditional PR and social media management teams to convey the product's vision.</li>
        </ol>
        </p>
        <p>In the end, Bianchini states that the best way to build the community is to incentivize moderators by connecting them financially to the revenue-generating brand advertisers posted on the subreddits they moderate. The Facebook revenue model, which reddit has decided to pursue, in its purest form is probably not the way reddit should go if it wants to remain 'the front page of the Internet.'</p>
        <p>In addition, up to this point, reddit appears to have failed to <em>consistently</em> enforce policies and bridge the communication gap. Monetization strategies like reddit gold, advertising, and the recent suggestion to monetize celebrity AMAs, <a href="http://gawker.com/reddit-in-chaos-after-allegedly-firing-ama-coordinator-1715556970" target="_blank">which inadvertently sparked this revolt in the first place</a>, are guiding the development of the site, rather than what the community wants.</p>
        <p>Here's a tl;dr of what <a href="http://techcrunch.com/2015/07/16/reddit-policy/" target="_blank">some other former social network leaders said</a>:</p>
        <p><em>"Fast growth is often coupled with bad behavior, and weeds grow faster than flowers in a garden." - Chrys Bader-Wechseler, Secret</em></p>
        <p><em>"Communicate honestly and openly from all levels of the organization about what the community's standards and vision are." - Ade Olonoh, Formspring</em></p>
        <p><em>"Return the money back to the investors, turn reddit into a non-profit, and let the community decide which subreddits stay and which should go." - Kevin Rose, Digg</em></p>
        <p>So where is reddit headed? Steve Huffman, the now-CEO and co-founder of reddit, <a href="https://www.reddit.com/r/announcements/comments/3djjxw/lets_talk_content_ama/" target="_blank">weighed in</a> at 3 pm CST yesterday:</p>
        <p>Reddit is a place to have open and authentic discussions. However, some forms of speech might be harmful, e.g., non-consensual pornography. In addition, reddit has taken a formally defined stance against the following:</p>
        <p>
        <ul>
            <li>spam</li>
            <li>anything illegal (like copyright infringement, not talking about illegal things)</li>
            <li>publication of someone's private/confidential information</li>
            <li>anything that incites violence against an individual or a group of people</li>
            <li>anything that harasses, bullies or abuses an individual or a group of people</li>
            <li>sexually suggestive content featuring minors</li>
        </ul>
        </p>
        <p>These things appear to be common sense, but Steve didn't address the core issue of the revolt: when, if ever, does the community, especially the unpaid moderators, get a say in how reddit is steered as a company, organization, and community?</p>
        <p>
        <p>Where will this community go? Is it too big to fail? Given the likes of MySpace, Digg, and Friendster, the answer is clearly no. Communities like <a href="http://www.voat.co" target="_blank">Voat</a> absorbed redditors extremely quickly during the peak of the revolt and if it's going to survive, I think reddit's community (which keeps it alive and which includes the unpaid moderators who dedicate their time in exchange for prestige and a sense of tribe) will need to come to an agreement with the administration on how the site operates.</p>
        <p>To place power in the hands of a few, even if it is the founders, is dangerous for any company. After all, as Paul Graham says:</p>
        <p><em><a href="https://twitter.com/paulg/status/620830461632188416" target="_blank">"There are many counterintuitive things about startups. Focusing on users will save you from having to learn most of them."</a></em></p>
        <p>In the end, I believe that reddit won't go down without a fight. It matters too much to too many people to do so.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">reddit</span><span class="blog-post-tag">social media</span><span class="blog-post-tag">editorial</span></p>

    <p class="blog-post-created-at">Published July 17, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}