{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Some more changes and a new project</h1>

    <article class="blog-post-content">
        <p>After pushing those last changes to this blog, I sat down and thought about some nit-picky things that needed to be improved upon. I added the following items to that list:</p>
        <ul>
            <li>added a data visualization project to the blog, <a href="/sigma-delta">Sigma Delta</a></li>
            <li>changed some styles (forms, buttons) to reflect the new color theme of the blog</li>
            <li>made it so that the 'currently reading' section actually displays the latest book added to the list</li>
            <li>fixed a bug where, if a user clicks on one of the drop-down menus, its display text matches the background</li>
            <li>changed "Contact" to "About" on both the main blog and Sigma Delta</li>
        </ul>
        <p>I want to explore questions relating to economics, power, and how the world works by applying statistical principles and representing data visually. I chose the words "Sigma Delta" to reflect my analysis of this <em>sum of changes</em>.</p>
        <p>Now all that remains is to make this blog mobile-friendly.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">new beginnings</span><span class="blog-post-tag">change log</span></p>

    <p class="blog-post-created-at">Published about 4 years ago on October 13, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}