{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Supervised Learning</h1>

    <article class="blog-post-content">
        <p>In supervised learning, we are given an input (some data set) and an output. There is some relationship between the input and output.</p>
        <p>Supervised learning problems are classified into:</p>
        <ol>
            <li>regression and</li>
            <li>classification problems.</li>
        </ol>
        <p>In a regression problem, we try to predict results by mapping input variables to some continuous output function.</p>
        <p><em>e.g.,</em> trying to predict housing prices given a set of house sizes and their respective prices</p>
        <p>In a classification problem, we try to predict results by mapping input variables into discrete categories.</p>
        <p><em>e.g.,</em> trying to predict whether a tumor is malignant or benign given a patient with a tumor</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

    <p class="blog-post-created-at">Published November 28, 2016</p>

    {{> blog-post-comment}}

</div>

{{/base}}