{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">The First Time I Worked With D3: A Force-Directed Graph</h1>

    <article class="blog-post-content">
        <p>I originally made this graph about a year ago using Rails' Twitter gem, scraping data from users in different organizations and visualizing how they were connected to one another by who followed whom. I've removed the Rails application and the Twitter data it scraped from this example, stubbed some fake data instead, and ported it to JSFiddle so I can share it below.</p>
        <p>
            <iframe width="100%" height="600" src="//jsfiddle.net/lioninawhat/7wwsgm2s/5/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">data visualization</span><span class="blog-post-tag">d3</span></p>

    <p class="blog-post-created-at">Published March 07, 2016</p>

    {{> blog-post-comment}}

</div>

{{/base}}