{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">The Three Tenets of Duck Theory</h1>

    <article class="blog-post-content">
        <p>There's <a href="https://en.wikipedia.org/wiki/Duck_test">a saying</a> you may be familiar with:</p>
        <blockquote>
            <p>"If it looks like a duck, swims like a duck, and quacks like a duck, then it's probably a duck."</p>
        </blockquote>
        <p>I like to apply a corollary of the Duck Test in my day-to-day life to counteract <a href="https://en.wikipedia.org/wiki/Confirmation_bias">confirmation bias</a>. It goes:</p>
        <blockquote>
            <p>"If one person says you're a duck, they don't know what they're talking about. If two people say you're a duck, you might consider it. If three people say you're a duck, you're probably a duck."</p>
        </blockquote>
        <p>This framework of <a href="https://en.wikipedia.org/wiki/Abductive_reasoning">abductive reasoning</a> extends the Duck Test to measures of personal character, observations about the world around us, and can be critical of beliefs and ideals. It uses democratic consensus (or potentially <a href="https://en.wikipedia.org/wiki/Groupthink">groupthink</a> if one is not careful to let in contradicting opinions) to assess the validity of the conclusions we draw about ourselves and the world around us.</p>
        <p>I heard a joke once:</p>
        <blockquote>
            <p>A duck walks into a hardware shop. He asks the shopkeeper: "Do you have any grapes?" The shopkeeper, confused by this odd question, replies: "No."</p>
            <p>The next day, the duck returns and asks the shopkeeper again: "Do you have any grapes?" The shopkeeper, moderately annoyed, responds: "No, and I told you this yesterday. If you come back and ask the same question, I'll staple your beak shut."</p>
            <p>The duck leaves and returns the next day. He asks the shopkeeper: "Do you have any staples?" The shopkeeper responds: "No." The duck then asks: "Do you have any grapes?"</p>
        </blockquote>
        <p>I think this duck is clever but unnecessarily pushy. Although persistent, he lacks enough information to determine that this hardware shop will never have the grapes he seeks. By extending the Duck Test even further, we can create a set of rules to create positive change:</p>
        <ol>
            <li>We must initially assess our reality at its face value.</li>
            <li>To affect this reality, we must seek feedback constantly and create an open feedback loop.</li>
            <li>Persistent resistance in the face of unchanging circumstances may result in beak stapling or other undesirable consequences.</li>
        </ol>
        <p>Ducks are strange creatures. During the migration season in Missouri, you can see them fly and land in local lakes, feeding in parks, and obstructing traffic in areas of business that are decorated with foliage. One remarkable thing about these ducks is the way they swim: on the surface, they appear to glide on water, but below the surface, they are rapidly paddling with or against the current. I imagine humans are similar.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">personal development</span><span class="blog-post-tag">duck theory</span></p>

    <p class="blog-post-created-at">Published almost 3 years ago on March 19, 2017</p>

    {{> blog-post-comment}}

</div>

{{/base}}