{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">The white terror</h1>

    <article class="blog-post-content">
        <p>Ringing filled his ears as he awoke. As his eyes adjusted to the light, he realized that he wasn't at home. The unfamiliar room was all in white. The sheets that covered him, the walls and doors of this room were all varying shades of alabaster. A single window to his left with white shades masked what, at a glance, appeared to be an overcast sky.</p>
        <p>As he absorbed his surroundings, the ringing turned into a muted buzz, which faded into silence, and he placed his feet over the right side of the bed onto the white carpeted floor. He looked down at his feet, up and straight ahead at the undecorated wall in front of him. Even the headboard to his side was wood inlaid with metal - painted white.</p>
        <p><em>Where am I</em>? he wondered silently.</p>
        <p>He shook his head and stood up, meandering toward the white door two feet from the foot of the bed. He opened it, revealing an unlit staircase that descended into what seemed to be, from his perch, a brightly lit room.</p>
        <p>Cautiously, he made his way down the staircase. He still had no idea how he had arrived here. Truly, he did not remember much at all. The staircase descended straight down only a few meters, folded left, and opened into another white room: a kitchen with porcelain countertops and white linoleum floors which opened into a spacious living room with high ceilings. The walls and ceiling were painted white with floor to ceiling windows on the opposite wall, which stretched into a room he could not see past from where he stood at the base of the stairs. The gray shadows that blended into the room matched the tones of the unlit staircase.</p>
        <p>The living room windows were coated with ice, giving them a translucent hue blending white with gray and a tinge of icy blue. He could not see outside.</p>
        <p>In the kitchen, though, a familiar figure leaned over the counter, facing away from him. She was diminutive and wore a dark gray shawl over her head. He couldn't see her face, save the outline of her nose and forehead, but she was unmistakable.</p>
        <p>"Mom?" She remained turned from him.</p>
        <p>"Mom!" He exclaimed.</p>
        <p>From the woman's direction, an almost croaking sound emerged following a faint, windy-sounding whistle.</p>
        <p>"No."</p>
        <p>The open space of the room muted her voice, and she lifted her left hand slowly, pointing with a jagged nail on her index finger to the corner where the kitchen countertops stopped before the living room opened. An ornate white column supported the roof as it slanted where the ice-covered windows began their cascade along the wall.</p>
        <p>"Mom!" He exclaimed, this time with certainty, as he paced toward an equally small-framed woman seated sideways against the column.</p>
        <p>"No… I can't…" She whimpered softly as he approached her.</p>
        <p>His brow furrowed, and he slowed as he approached his mother.</p>
        <p>"No…don't…" she pleaded.</p>
        <p>"You can't what, Mom?" He asked, the tone of his question underscored by equal parts concern and confusion. "Where are you?"</p>
        <p>The words escaped his mouth. His mother sat, rocking slowly against the white column, as the light that reflected off the windows danced, reflecting off the linoleum floor of the kitchen. He squinted.</p>
        <p>"I can't …" she whispered.</p>
        <p>Suddenly, the stranger with the gray shawl turned and thundered toward the two - mother and son, removed her cowl and revealed wisps of thinning, gray hair along her scalp. With wide, glowing black eyes, she snarled, "And you won't!"</p>
        <p>His entire field of vision rapidly faded from white to black as his eyelids closed, and he fell back against the column, unconscious.</p>
        <p>Immediately, he jolted up. He awoke again, although this time in darkness. As his eyes adjusted to the dark, he noticed that he was, for the second time waking, alone, although this time in his own bed. Cold sweat had soaked his shirt and coated his legs. He peeled the damp shirt off, used it to wipe the sweat from his torso, and patted his legs. He then tossed the sweat-soaked shirt against the wall to his right, laying down again in the warmth of his sheets.</p>
        <p><em>These nightmares happen too often</em>, he thought to himself.</p>
        <p>And he went back to bed, seeking a respite as his world faded to black.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">fiction</span><span class="blog-post-tag">horror</span></p>

    <p class="blog-post-created-at">Published June 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}