{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">This is ridiculous.</h1>

    <article class="blog-post-content">
        <p>Ok. I give up. This is outrageous.</p>
        <p>It took two days to create this blog - one day for the back-end, the second day for the gorgeous CSS you see laid out in front of you. Technically, the first "day" was a Friday evening and this CSS layout is just to meet the bare minimum qualifications for what a blog should look like.</p>
        <p>What am I giving up on if I'm writing this post right now? Overwhelming myself. I wanted to finish the Coursera Data Science track in two months - that's four classes each month, with an estimated 5-10 hours per week per class. That's another part-/full-time job on top of the one I already work. That requires sacrificing a social life, a clean house, chores, and maybe a small bit of sanity just to go FAST.</p>
        <p><a href="https://www.youtube.com/watch?v=zl-HalherjQ" target="_blank"><img src="http://i.imgur.com/pQ3T4Xo.jpg" alt="Never half-ass two things. Whole-ass one thing." /></a></p>
        <p>Pardon my French. So what did I do? I dropped all my classes but two: The Data Scientist's Toolbox and Machine Learning. Machine Learning is a class taught by <a href="http://cs.stanford.edu/people/ang/" target="_blank">Andrew Ng</a> at Stanford University. He's one of the co-founders of Coursera and the class isn't offered as often as every course in the Data Science Track. The Data Scientist's Toolbox will conclude in ~2 weeks on February 2nd and then I'll attempt to add more courses to my load. If I can't handle them or find myself half-assing them, I'll drop them and resume them after I finish the courses I can handle.</p>
        <p>As much as I like to go fast, this is an approach I prefer because it enables me to work with a higher level of integrity and quality. And much like the rest of advice Ron Swanson lends, it's just plain common sense.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">coursera</span></p>

    <p class="blog-post-created-at">Published January 21, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}