{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Three months later...</h1>

    <article class="blog-post-content">
        <p>It's been a little more than three months - one quarter of a fiscal year - since my interview. Since then, I have:</p>
        <ul>
            <li>gotten a new job</li>
            <li>learned to use Ember.js</li>
            <li>ideated and produced three features</li>
            <li><a href="http://www.bizjournals.com/kansascity/news/2015/06/15/infegy-company-cruise.html" target="_blank">gone on a Royal Caribbean cruise</a></li>
            <li>swam with stingrays</li>
            <li>jumped off a boat into the Atlantic Ocean</li>
            <li>read a lot about UI/UX</li>
            <li>developed and modified <a href="http://www.lifehacker.co.in/jugaad/StreamlineYour-Morning-Routine-With-the-P-R-E-S-E-N-T-Principle/articleshow/22295657.cms" target="_blank">a better morning routine</a></li>
            <li>ridden a horse</li>
            <li>started to <a href="http://juliacameronlive.com/basic-tools/morning-pages/" target="_blank">write almost daily</a></li>
            <li>started weight lifting again and am training for my first 5 K</li>
            <li>seen old friends from college, high school, and even junior high</li>
        </ul>
        <p>Leaving a job after a year and a half in pursuit of bigger and better prospects is a monumental decision. I knew it was time to leave when I stopped learning and stagnated for weeks that became months. I left on great terms and have seen some former co-workers in social settings, and have only now started to realize how much I learned in a corporate environment. I am thankful for my experiences at my old job, but every day I am grateful for having ended up somewhere <a href="http://www.stephenwalker.com/books/zero-to-one-peter-thiel/#outline-container-sec-1-3-5" target="_blank">10x better</a>.</p>
        <p>My new job has me focusing more on front-end design and development. I sit in front of a 20-foot whiteboard in a brightly lit room with four other developers and build awesome stuff every day. I am challenged and confident, a critical recipe for success and learning in a new environment. Finding balance is always an interesting goal, and I find that in a daily fitness routine and having a varied social life after 8 pm on weekdays.</p>
        <p>My next steps, which have been a long time coming, will be to craft a vision statement for what remains of 2015. I started doing this a long while ago, almost subconsciously, on my <a href="http://www.trello.com" target="_blank">Trello</a> boards, but now I've ported it all out to Excel in neat columns with short- and long-term goals for the year and beyond. I plan on creating a poster and hanging it up in my apartment <a href="https://www.youtube.com/watch?v=wLxMbzWm5Es" target="_blank">just like some other imagery</a>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">goals</span><span class="blog-post-tag">vision planning</span></p>

    <p class="blog-post-created-at">Published over 4 years ago on July 07, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}