{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Two Weeks Notice</h1>

    <article class="blog-post-content">
        <p>I put in my two weeks at my company on Friday. I asked my boss if we could have a "quick ten minute conversation" in a storage room next to my team area we call "The Vegas Room" - what happens there, stays there. Right after that, I called an impromptu sit-down with my development team. As I summoned my co-workers, my Scrum Master started shaking her head going, "No! No! No!" and me saying, "Yes. Yes. Yes," and my fellow developers looking on confused. I gave them the announcement, we chatted for a bit, and the day resumed as normal.</p>
        <p>Since then, I've had folks on floor approach me, asking me where I was going, what I would be doing there, if I was excited about it - the usual questions. But today, my <em>other</em> boss approached me. As a test engineer, I occasionally report to the QA Director. This woman was the first person to take an interest in me and my career at the company. She gave me my first real work - fixing unit tests and integrating them into the continuous integration servers in our division - and gave me an ivory pencil holder when she returned from India last December. She jump-started my career in the company with a form of maternal mentorship I haven't experienced anywhere I've worked before.</p>
        <p>I guess she saw in me a potential successor, and the conversation began with her asking me where I was going, what I would be doing there, and if I was excited. She told me that she had been expecting me to leave - although not so soon, and that she was thinking about leaving too - she was experiencing burnout. I was familiar with her referring to her job as "hell" after she got back from her trip last year and told her about an intern my direct supervisor and I had met at the end of the summer last year. This intern was a retired military police officer who was honorably discharged due to injury, and the military paid for her to pursue a degree. We attended weekly <a href="http://www.toastmasters.org" target="_blank">Toastmasters</a> meetings together, and I found out that she was also interested in pursuing a management track within the company. I asked if it would be appropriate for me to make an introduction, and my boss gave me her approval.</p>
        <p>She then told me how she saw me as a process-oriented person rather than a developer, and that I would fit in well in my new role at my new company. She saw me as a Product Manager, and all I needed to do was to find what interested me. I've known this for a little bit now, but her statements clarified a hunch I've held onto without solid grounding. While I pride myself in being self-aware, it almost always helps to have supporting feedback. I thanked her, made an e-mail introduction, and got back to work.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">career</span></p>

    <p class="blog-post-created-at">Published March 18, 2015</p>

    {{> blog-post-comment}}

</div>

{{/base}}