{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Weeding</h1>

    <article class="blog-post-content">
        <p>I spent some time at a community garden yesterday removing weeds from some raised beds of unseeded asparagus. Unseeded asparagus has thin, long, wispy branches and is easy to tell apart from the teardrop- or grass-shaped leaves that make up most small weeds. Also planted on the bed, though, were some tomato plants, which we were instructed to pull as well.</p>
        <p>I asked about these tomato plants. "They're food - why pull them?"</p>
        <p>"We'll plant tomatoes later. They're important to the crop too. For now, we just want to keep and grow the asparagus."</p>
        <p>So I pulled all the weeds - big, small, and tomatoes too - and gave the garden a good once-over before declaring our job done. This morning I learned something that helped me to internalize the process of metaphorical gardening I've been going through in my day-to-day life.</p>
        <p>In order to plant a garden, one needs to do a lot of weeding and sometimes remove the fruits one usually enjoys if they don't fit. Ideally with the goal of replanting them again when the time is right.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">gardening</span></p>

    <p class="blog-post-created-at">Published July 10, 2017</p>

    {{> blog-post-comment}}

</div>

{{/base}}