{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">What is machine learning?</h1>

    <article class="blog-post-content">
        <p>"The field of study that gives computers the ability to learn without being explicitly programmed." - Arthur Samuel (1959)</p>
        <p>"A computer program is said to learn from experience E with respect to some class of tasks T and performance measure P, if its performance at tasks in T, as measured by P, improves with experience E." - Tom Mitchell (1997)</p>
        <p><em>e.g., playing a game</em></p>
        <p><strong>E</strong>: the experience of playing many games</p>
        <p><strong>T</strong>: the task of playing the game</p>
        <p><strong>P</strong>: the probability that the program will win the next game</p>
        <p>In general, any machine learning problem can be assigned to one of two broad classifications:</p>
        <ol>
            <li>supervised learning and</li>
            <li>unsupervised learning.</li>
        </ol>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">coursera</span><span class="blog-post-tag">machine learning</span><span class="blog-post-tag">andrew ng</span></p>

    <p class="blog-post-created-at">Published about 3 years ago on November 28, 2016</p>

    {{> blog-post-comment}}

</div>

{{/base}}