{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">What is talent management?</h1>

    <article class="blog-post-content">
        <p>Talent management (TM) is the implementation of people-centric systems and processes for the purpose of developing individuals personally and professionally while meeting organizational objectives. Generally, these objectives involve hard return-on-investment (ROI), exclusively defined as revenue and profit, and soft ROI such as customer satisfaction, brand recognition and other metrics that may fuel hard ROI.</p>
        <p>I envision TM as water that flows through a pipeline: recruitment, employee engagement and development, and planning for the future - when once-green recruits eventually may leave the organization. Although this is often a taboo and unspoken-of subject, establishing trust between individuals (team members and their managers, in this particular instance) addresses a reality that all organizations face and ensures the creation of valuable retention processes, succession planning, and alumni programs that wouldn't otherwise be possible without this critical dynamic.</p>
        <p>TM, as a function within an organization, also has some passive processes - what I call "pipeline management." These include team process planning and meeting facilitation, fast-tracking exceptionally gifted or future-minded team members, feedback and reviewing progress for individuals and teams, and identifying and ideally fixing bottlenecks that prevent an organization from achieving its hard- and soft-ROI goals.</p>
        <p>TM - also known to some as human resources (which I consider a vulgarity), people operations (which is better), or employee experience (more descriptive of the team's function, but fluffier than I prefer) - tends be the biggest spender in almost all organizations by paying money for employee recruitment, hiring, and development. However, an ideally structured TM team serves as the foundation for driving revenue-generating activities by means of employee engagement and education and sets in motion the machinations of an organization to progressively improve over time, facilitating long-term sustainable growth and impact.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">talent management</span><span class="blog-post-tag">organizational development</span><span class="blog-post-tag">professional development</span></p>

    <p class="blog-post-created-at">Published over 2 years ago on July 21, 2017</p>

    {{> blog-post-comment}}

</div>

{{/base}}