{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Why do people protest police brutality?</h1>

    <article class="blog-post-content">
        <p>Did you hear about <a href="https://www.nytimes.com/2017/02/24/world/asia/kansas-attack-possible-hate-crime-srinivas-kuchibhotla.html">the Indian men who were shot</a> during happy hour at a bar in southern Kansas City?</p>
        <p>Let me tell you about them - and how I felt when that happened.</p>
        <p>It happened in my backyard - <a href="https://goo.gl/maps/g9cu62Mtb9gpxxTb7">a 30 minute drive</a> from my apartment. And I went to that area of town relatively often. It's a suburb with all the amenities of suburbs - cul de sacs, stores with concrete floors, and large, open outdoor spaces. So when I found out that a person who looked like me was killed <em>because</em> he looked like me, I was sad and scared. And I wanted to understand why he was killed - what motivated his killer to do such a thing.</p>
        <p>The man who was killed in the shooting, Srinivas Kuchibhotla, had <a href="https://www.kansascity.com/news/local/crime/article210476814.html">a wife and a young son</a>. He's someone I who I might have crossed paths with at <a href="https://goo.gl/maps/UB6UVy7WupPWFgjSA">the temple</a> just down the street from that bar. He worked at Garmin, where some of my friends also worked, and he and his friend were having a happy hour.</p>
        <p><a href="https://en.wikipedia.org/wiki/2017_Olathe,_Kansas_shooting#The_perpetrator">After some reading</a>, I discovered that he didn't have much of a police record. He wasn't very well educated. He was a U.S. Navy veteran, and he had worked a series of unskilled jobs before getting arrested. It turned out that his father had died and he drowned his sorrows in alcohol. He probably wasn't competent enough to help himself heal, and his own pain and loneliness turned into anger, resentment, and confusion. Indians and Iranians don't look very much alike. When he shot them, he yelled "Get out of my country!" I told myself he didn't know why - he was just an idiot in pain.</p>
        <p>I sat with that fear and sadness for a while, and when I went to <a href="https://goo.gl/maps/SCYjWsK7JrhWmRbh8">visit my parents</a> a few days later, people in the community were still talking about the shooting.</p>
        <p>Now imagine if <a href="https://en.wikipedia.org/wiki/Death_of_George_Floyd">this kind of thing</a> happened <a href="https://en.wikipedia.org/wiki/Death_of_Breonna_Taylor">once</a> a <a href="https://en.wikipedia.org/wiki/Shooting_of_Ahmaud_Arbery">month</a>. How my pain would amplify. What if it wasn't just a <a href="https://en.wikipedia.org/wiki/Shooting_of_Trayvon_Martin">civilian</a> who had killed him, but he had been <a href="https://en.wikipedia.org/wiki/Shooting_of_Atatiana_Jefferson">murdered</a> by people in power? People society trusted to <a href="https://en.wikipedia.org/wiki/Shooting_of_Philando_Castile">protect and serve</a>.</p>
        <p>Imagine if this sort of thing happened regularly and being unable to stop feeling constantly sad, scared and in pain. Murder? In broad daylight during happy hour at a bar in Kansas? I'd want <a href="https://en.wikipedia.org/wiki/Ferguson_unrest">the world to burn</a>.</p>
        <p>But if I could do something about it? After <a href="https://en.wikipedia.org/wiki/Christian_Cooper">years</a> of <a href="https://en.wikipedia.org/wiki/Emmett_Till#Admission_that_the_testimony_against_Till_was_false">injustice</a>? I'd <a href="https://en.wikipedia.org/wiki/Civil_rights_movement">march</a>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">america</span><span class="blog-post-tag">civil rights</span></p>

    <p class="blog-post-created-at">Published May 30, 2020</p>

    {{> blog-post-comment}}

</div>

{{/base}}