{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Why people protest police brutality</h1>

    <article class="blog-post-content">
        <p>In 2017, <a href="https://www.nytimes.com/2017/02/24/world/asia/kansas-attack-possible-hate-crime-srinivas-kuchibhotla.html">two Indian men were shot</a> by a man during happy hour at a bar in Olathe, Kansas. It practically happened in my backyard - <a href="https://goo.gl/maps/g9cu62Mtb9gpxxTb7">a 30 minute drive</a> from my apartment in northern Kansas City.</p>
        <p>One of those men was killed in the shooting. His name was Srinivas Kuchibhotla, and he had <a href="https://www.kansascity.com/news/local/crime/article210476814.html">a wife and a young son</a>. He's someone I might have crossed paths with at <a href="https://goo.gl/maps/UB6UVy7WupPWFgjSA">the temple</a> just down the street from that bar. He worked at Garmin, where some of my friends also worked, and he and his friend were having a post-work drink.</p>
        <p>I also wanted to understand why he was killed - what motivated his killer to do such a thing. <a href="https://en.wikipedia.org/wiki/2017_Olathe,_Kansas_shooting#The_perpetrator">After some reading</a>, I discovered that this killer didn't have much of a police record. He wasn't very well educated. He was a U.S. Navy veteran, and he had worked a series of unskilled jobs before getting arrested. His neighbor reported that after his father had died, he had started drinking more. He probably didn't know how to heal himself, and his own pain and loneliness turned into anger, resentment, and confusion. When he shot them, he yelled "Get out of my country!" I told myself he didn't know why he said that - he was just an idiot in pain. After all, Indians and Iranians don't look very much alike.</p>
        <p>But when I found out that a person who looked like me was killed <em>because</em> he looked like me - in my own neighborhood, I was sad and scared. I sat with that fear and sadness for a while, and when I went to <a href="https://goo.gl/maps/SCYjWsK7JrhWmRbh8">visit my parents</a> a few days later, people in the community were still talking about the shooting. Nobody protested in the streets. We mourned quietly for a while and then got on with our lives.</p>
        <p>Now imagine if <a href="https://en.wikipedia.org/wiki/Death_of_George_Floyd">this kind of thing</a> happened <a href="https://en.wikipedia.org/wiki/Death_of_Breonna_Taylor">once</a> a <a href="https://en.wikipedia.org/wiki/Shooting_of_Ahmaud_Arbery">month</a>, like it does to Black folks. How much would that amplify mine and my community's pain? And what if it wasn't just a <a href="https://en.wikipedia.org/wiki/Shooting_of_Trayvon_Martin">civilian</a> who had killed Srinivas? Police officers rushed to the scene at the bar in Olathe, but Black folks are <a href="https://en.wikipedia.org/wiki/Shooting_of_Atatiana_Jefferson">murdered</a> by those same people in power. People society trusted to <a href="https://en.wikipedia.org/wiki/Shooting_of_Philando_Castile">protect and serve</a>.</p>
        <p>Imagine if this sort of thing happened regularly. Murder? In broad daylight during happy hour at a bar in Kansas? Being unable to stop feeling constantly sad, scared and in pain? I'd want <a href="https://en.wikipedia.org/wiki/Ferguson_unrest">the world to burn</a>.</p>
        <p>But if I could do something about it? After <a href="https://en.wikipedia.org/wiki/Christian_Cooper">years</a> of <a href="https://en.wikipedia.org/wiki/Emmett_Till#Admission_that_the_testimony_against_Till_was_false">injustice</a>? I'd <a href="https://en.wikipedia.org/wiki/Civil_rights_movement">march</a>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">life</span><span class="blog-post-tag">america</span><span class="blog-post-tag">civil rights</span></p>

    <p class="blog-post-created-at">Published May 30, 2020</p>

    {{> blog-post-comment}}

</div>

{{/base}}