{{#> base}}
<div class="content-container">
  <p>
    Hello. My name is <a href="http://ipa-reader.xyz/?text=nil%20%CE%B8%C9%99w%C9%94ni" target="_blank" rel="noopener"><strong>Neil Thawani</strong></a>. <span class="visible-phone">My name spelled backwards is <strong>lieN inawahT</strong>.</span> I work as a software engineer, researcher and part-time K-12 computer science educator, applying the sum of my skills working at the intersection of engineering practice and <a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=505006">STEAM+Computing</a> education. I hold a Masters of Educational Technology &amp; Applied Learning Science, abbreviated METALS, from Carnegie Mellon University.
  </p>

  <a class="middle has-img" href="https://metals.hcii.cmu.edu/curriculum/" target="_blank" rel="noopener">
    <img src="src/static/images/metals-logo.png" height=100 />
  </a>

  <p>
    I also build and bridge connections between STEAM+Computing teachers and their colleagues in school ecosystems. Education is an important piece of a sustainable 21st century society. Building equitable relationships connects these pieces together, in and out of school, across disciplines and throughout a lifetime.
  </p>

  <p>
    You can view my <a target="_blank" rel="noopener" href="/resume.html">resume here</a>.
  </p>

  <p>
    I am currently building <a href="http://www.rowschool.com" target="_blank" rel="noopener">Row School</a>, an online academy for K-12 teachers to teach computer science and other skills needed for humanity to move forward in the 21st century, grounded with theory from <a href="https://medium.com/inspired-ideas-prek-12/what-is-learning-science-a1dc07ec4ce" target="_blank" rel="noopener">learning science</a> and <a href="https://faculty.washington.edu/ajko/cer" target="_blank" rel="noopener">computing education research</a>.
  </p>
</div>

{{> projects}}
{{/base}}
