{{#> base}}
  <div class="content-container">
    <h1 class="text-center">
      Schedule a chat!
    </h1>

    <iframe src="https://lioninawhat.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframelioninawhat" style="width:100%;height:1000px;border:0px;background-color:transparent;margin-top:10px;" frameborder="0" allowtransparency="true"></iframe>
    <script>window.addEventListener && window.addEventListener("message", function(event){if (event.origin === "https://lioninawhat.youcanbook.me"){document.getElementById("ycbmiframelioninawhat").style.height = event.data + "px";}}, false);</script>
  </div>
{{/base}}
